<ion-view view-title="End of Life Care Plan">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">End of Life Care Plan (EOLCP)</div>
      <div class="item item-body">
        <div>
            From the EOLCP data if the patient need to be refer to the hospital/doctor this form should be filled up.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
