<ion-view view-title="Loan Equipment">
  <ion-content>
      <div class="list card">
        <div class="item item-divider">Recent Updates</div>
        <div class="item item-body">
          <div>
            There is a fire in <b>sector 3</b>
          </div>
        </div>
      </div>
    <ion-list>
    <ion-toggle ng-model="settings.enableFriends">
        Commdoe</a>
    </ion-toggle>
    <ion-toggle  ng-model="settings.x1">
        Urinal
    </ion-toggle>
    <ion-toggle  ng-model="settings.x2">
        Bed Pan
    </ion-toggle>
    </ion-list>
    <a class="button button-positive button-full" href="#/patient">Save</a>

  </ion-content>
</ion-view>
