<ion-view view-title="Loan Equipment">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Borrower Detail</div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="equipmentloan.borrower_name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">IC</span>
                <input type="text" placeholder="IC" ng-model="equipmentloan.borrower_ic">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input type="text" placeholder="Address" ng-model="equipmentloan.borrower_address">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Phone Number</span>
                <input type="tel" placeholder="Phone Number" ng-model="equipmentloan.borrower_phone">
            </label>

            

            <label class="item item-input item-stacked-label">
                <span class="input-label">Equipment</span>
				<select ng-model="equipmentloan.equipment_id">
                	<option ng-repeat="x in loan_equipment_list" value="{{ x.EQUIPMENT_ID }}" ng-selected="x.EQUIPMENT_ID==equipmentloan.EQUIPMENT_NAME">{{ x.EQUIPMENT_NAME }}</option>
                </select>                        
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Description of Equipment</span>
                <input type="text" placeholder="Description of Equipment" ng-model="equipmentloan.description_equipment">
            </label>
<!-- 
                        <select ng-model="patient.NURSE_NAME">
                            <option ng-repeat="x in nurse_name" value="{{ x.USERID }}" ng-selected="x.USERID==patient.NURSE_NAME">{{ x.NAME }}</option>
                        </select>                        
 -->

        </div>

        <div class="list card">
            <div class="item item-divider">Deposit</div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date</span>
                <input type="date" placeholder="Date" ng-model="equipmentloan.deposit_date">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Tag No</span>
                <input type="text" placeholder="Tag No" ng-model="equipmentloan.deposit_tag_no">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Amount</span>
                <input type="text" placeholder="Amount" ng-model="equipmentloan.deposit_amount">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Loan Authorised</span>
                <input type="text" placeholder="Loan Authorised" ng-model="equipmentloan.loan_authorised">
            </label>
        </div>

        <div class="list card">
            <div class="item item-divider">Refund</div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date</span>
                <input type="date" placeholder="Date" ng-model="equipmentloan.refund_date">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Amount</span>
                <input type="text" placeholder="Amount" ng-model="equipmentloan.refund_amount">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Received By</span>
                <input type="text" placeholder="Received By" ng-model="equipmentloan.refund_received_by">
            </label>
        </div>

        <div class="list">
            <a class="button button-positive button-full" ng-click="saveAndNext()">Save and Next</a>
        </div>
    </ion-content>

</ion-view>