<ion-view view-title="Dashboard">
    <ion-content>
        <div id="profile-bg"></div>
        <div id="content">
            <div id="profile-info">
                <img id="profile-image" ng-src="http://api.randomuser.me/portraits/med/women/{{patient.PATIENT_ID}}.jpg">
                <h3 id="profile-name" class="capital">{{patient.NAME}}</h3>
                <span id="profile-description" class="capital">{{patient.AGE}} years old
                </div>
                <div class="row">
                    <a class="button button-block col" href="#/patient">Change Patient</a>
                    <a class="button button-dark col button-block" href="#/login">Logout</a>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Patient Profile</div>
                <div class="item item-body list" ng-init="dashboard.detail=false">
                    <div class="item">
                        Name <span class="item-note black capital">{{patient.NAME}}</span>
                    </div>
                    <div class="item ion-icon">
                        IC <span class="item-note black capital">{{patient.IC}}</span>
                    </div>
                    <div class="item ion-icon">
                        Address <span class="item-note black capital">{{patient.ADDRESS}} {{patient.POSTCODE}}</span>
                    </div>
                    <div class="item ion-icon">
                        Date of birth <span class="item-note black capital">{{patient.DATE_OF_BIRTH}}</span>
                    </div>
                    <div class="item ion-icon">
                        Diagnosis <span class="item-note black capital">{{patient.DIAGNOSIS}}</span>
                    </div>
                    <div class="item item-button-right">
                        Travel to address
                        <a class="button button-positive button-outline" href="geo:q={{patient.user.location.street}}" target="_blank">
                            <i class="icon ion-navigate"></i>
                        </a>
                    </div>
                    <div class="item ">
                        Travelling Status <span class="item-note black">Cendawan</span>
                    </div>
                    <div class="item" ng-show="dashboard.detail">
                        Travelling Status <span class="item-note black">Cendawan</span>
                    </div>
                    <div class="item" ng-show="dashboard.detail">
                        Travelling Status <span class="item-note black">Cendawan</span>
                    </div>
                    <div class="item" ng-show="dashboard.detail">
                        Travelling Status <span class="item-note black">Cendawan</span>
                    </div>
                    <div class="item" ng-show="dashboard.detail">
                        Travelling Status <span class="item-note black">Cendawan</span>
                    </div>
                    <div class="item" ng-show="dashboard.detail">
                        Travelling Status <span class="item-note black">Cendawan</span>
                    </div>
                    <div class="item">
                        <a class="button button-block" ng-click="dashboard.detail = !dashboard.detail">
                            <span ng-hide="dashboard.detail">More Details...</span>
                            <span ng-show="dashboard.detail">Close details</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Upcoming Visit</div>
                <div class="item item-body">
                    <div>
                        Patient next visit is on <strong>Sunday, 29 May 2015</strong>. Scheduled by hariyati.
                    </div>
                    <a class="button button-block button-positive">Schedule next visit</a>

                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Visit History</div>
                <div class="item item-body">
                    <div class="item">
                        Last visit: <span class="item-note">27/04/2015</span>
                    </div>
                    <div class="item">
                        1. Visit by <strong>Karen</strong> on 27/04/2015
                    </div>
                    <div class="item">
                        2. Visit by <strong>Karen</strong> on 19/03/2015
                    </div>
                    <div class="item">
                        3. Visit by <strong>Karen</strong> on 15/02/2015
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
