<ion-view view-title="First Time Visit">
    <ion-content class="padding" ng-class="$parent.setting.eol?'is-disabled':''">
        <div class="list card">
            <div class="item item-divider">Action</div>
            <div class="item item-body">
                <div>
                    <p>The First Visit will start with :</p>
                    <a class="button button-full button-positive" ui-sref="formfirstvisit.f04({patientID:patientID})">
                        Fill The First Visit Form
                    </a>
                </div>
            </div>
        </div>
        <ion-list ng-init="data.f01 = true;">
            <div class="item item-divider" ng-init="data = {f07:true, f08:true}">Initial Assessment Check List</div>
            <ion-checkbox ng-model="data.f04" class="checkbox-balanced"  ng-disabled="true">F-04 – Consent of  Addmission Release &amp; Indeminity Form</ion-checkbox>
            <ion-checkbox ng-model="data.f05" class="checkbox-balanced"  ng-disabled="true">F-05 - Declaration of Photographic/media consent</ion-checkbox>
            <ion-checkbox ng-model="data.f07" ng-disabled="true" ng-checked="$parent.upload_data[$parent.patientID].V_INITIAL_ASSESSMENT">F-07 Perak Palliative Care Society Initial Assessment Form</ion-checkbox>
            <ion-checkbox ng-model="data.f08" ng-disabled="true" ng-checked="$parent.upload_data[$parent.patientID].V_MEDICAL_ASSESSMENT">F-08 Physical Systoms (Patient’s Complaint)</ion-checkbox>
            <ion-checkbox ng-model="data.f09" ng-disabled="true">F-09 Social Assessment</ion-checkbox>
            <ion-checkbox ng-model="data.f10" ng-disabled="true">F-10 Current Medication Chart</ion-checkbox>
            <ion-checkbox ng-model="data.f11" ng-disabled="true">F-11 General Examination</ion-checkbox>
            <ion-checkbox ng-model="data.f12" ng-disabled="true" class="item-button-right" ui-sref="tab.f10">F-10 General Examination Image <a class="button button-positive button-outline" href="#/tab/{{$parent.patientID}}/f10" target="_blank"><i class="icon ion-log-in"></i></a></ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>
