<ion-view view-title="F-01 – Registration Form">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Welcome</div>
      <div class="item item-body">
        <div>
          First time patient registration <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list">
  <label class="item item-input">
    <span class="input-label">PPCS Reg No</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">* Name</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">* IC Number</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">* Date Of Birth</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">* Age</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">* Sex</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label>
</div>
  </ion-content>
</ion-view>
