<ion-view view-title="First Time Visit">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Introduction</div>
      <div class="item item-body">
        <div>
            <p>On the First Visit the nurse will consider As either needed as a Homecare or Stable.
                If the status is Homecare one more status to be consider either it’s a
                <strong>Local</strong> or <strong>Cendawan</strong>. Local means
                the patient address is beyond 20km away from the Palliative
                Care Office and if it more than 20km  it will travel as Chendawan.</p>
        </div>
      </div>
    </div>
    <ion-list ng-init="data.f01 = true;">
        <ion-checkbox ng-model="data.f04" class="checkbox-balanced"  disabled="true">F-04 – Consent of  Addmission Release &amp; Indeminity Form</ion-checkbox>
        <ion-checkbox ng-model="data.f05" class="checkbox-balanced"  disabled="true">F-05 -  Declaration of Photographic/media consent</ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
