<ion-view view-title="Dashboard">
    <ion-content>
        <div id="profile-bg"></div>
        <div id="content">
            <div id="profile-info">
                <img id="profile-image" ng-src="{{make_profile_pic($parent.upload_data[$parent.patientID].profile_images)}}">
                <h3 id="profile-name" class="capital">{{patient.NAME}}</h3>
                <span id="profile-description" class="capital">{{patient.AGE}} years old
                </div>
                <div class="row">
                    <a class="button button-block col" href="#/patient">Change Patient</a>
                    <a class="button button-block col" href="#/tab/{{patientID}}/edit-patient">Edit Patient</a>
                    <a class="button button-dark col button-block" ng-click="logout()">Logout</a>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Patient Profile</div>
                <div class="item item-body list" ng-init="dashboard.detail=false">
                    <div class="item">
                        Name <span class="item-note black capital">{{patient.NAME}}</span>
                    </div>
                    <div class="item">
                        Register No. <span class="item-note black capital">{{patient.PATIENT_ID}}</span>
                    </div>
                    <div class="item ion-icon">
                        IC <span class="item-note black capital">{{patient.IC}}</span>
                    </div>
                    <div class="item ion-icon">
                        Address <span class="item-note black capital">{{patient.ADDRESS}} {{patient.POSTCODE}}</span>
                    </div>
                    <div class="item ion-icon">
                        Date of Birth <span class="item-note black capital">{{patient.DATE_OF_BIRTH}}</span>
                    </div>
                    <div class="item ion-icon">
                        <!-- Patient Status <span class="item-note black capital">{{patient.CATEGORY_CODE_DESC}} -->
                        Patient Status <span class="item-note black capital">
                        <p ng-show="patient.CATEGORY_CODE=='01'">HOMECARE</p>
                        <p ng-show="patient.CATEGORY_CODE=='02'">OPP</p>
                        <p ng-show="patient.CATEGORY_CODE=='03'">SUNSHINE</p>
                        <p ng-show="patient.CATEGORY_CODE=='04'">KIV</p>
                        <p ng-show="patient.CATEGORY_CODE=='05'">DIED</p>
                        <p ng-show="patient.CATEGORY_CODE=='06'">EQUIPMENT LOAN</p>
                        </span>
                    </div>

					<div class="item ion-icon">
                        Occupation <span class="item-note black capital">{{patient.OCCUPATION}}</span>
                    </div>

					<div class="item ion-icon">
                        <!-- Marital Status <span class="item-note black capital">{{patient.MARITAL_STATUS_DESC}} -->
                        Marital Status <span class="item-note black capital">
                        <p ng-show="patient.MARITAL_STATUS=='01'">SINGLE</p>
                        <p ng-show="patient.MARITAL_STATUS=='02'">MARRIED</p>
                        <p ng-show="patient.MARITAL_STATUS=='03'">WIDOW</p>
                        </span>
                    </div>
					<div class="item ion-icon">
                        Tel House Client <span class="item-note black capital">{{patient.TEL_HOUSE_CLIENT}}</span>
                    </div>


                    <div class="item ion-icon">
                        Diagnosis <span class="item-note black capital">{{patient.DIAGNOSIS}}</span>
                    </div>

					<div class="item ion-icon">
                        <!-- Race <span class="item-note black capital">{{patient.RACE_DESC}}</span> -->
                        Race <span class="item-note black capital">
                        <p ng-show="patient.RACE=='1'">MALAY</p>
                        <p ng-show="patient.RACE=='2'">CHINESE</p>
                        <p ng-show="patient.RACE=='3'">INDIAN</p>
                        <p ng-show="patient.RACE=='4'">OTHERS</p>
                        </span>
                    </div>

                    <div class="item item-button-right">
                        Travel to address
                        <a class="button button-positive button-outline" ng-click="open_loc(patient.ADDRESS)" target="_blank">
                            <i class="icon ion-navigate"></i>
                        </a>
                    </div>
                    <div class="item">
                        Decision maker contact <span class="item-note black">{{patient.DECISION_MAKER_CONTACT}}</span>
                    </div>
                    <div class="item" ng-show="dashboard.detail">
                        Language <span class="item-note black">{{patient.LANGUAGE}}</span>
                    </div>
                    <div class="item" ng-show="dashboard.detail">
                        Nurse Name <span class="item-note black">{{patient.NURSE_NAME}}</span>
                    </div>

					<div class="item ion-icon">
                        Primary Mobile <span class="item-note black capital">{{patient.PRIMARY_MOBILE}}</span>
                    </div>

                    <div class="item">
                        <a class="button button-block" ng-click="dashboard.detail = !dashboard.detail">
                            <span ng-hide="dashboard.detail">More Details...</span>
                            <span ng-show="dashboard.detail">Close details</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Upcoming Visit</div>
                <div class="item item-body">
                    <div>
                        Patient next visit is on <strong>Sunday, 29 May 2015</strong>. Scheduled by hariyati.
                    </div>
                    <a class="button button-block button-positive" ui-sref="tab.multi_team">Schedule next visit</a>

                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Visit History</div>
                <div class="item item-body">
                    <div class="item">
                        Last visit: <span class="item-note">27/04/2015</span>
                    </div>
                    <div class="item" ng-repeat="nurse in nurse_visit | filter:{PATIENT_ID:$parent.patientID} | limitTo:50">
                        {{$index+1}}. Visit by <strong>{{nurse.NAME}}</strong> on {{nurse.DATE}} {{nurse.TIME}}
                    </div>
                    <div class="item" ng-hide="nurse_visit">
                        Patient have no visit.
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
