<ion-view view-title="Summary of Initial Assessment">
    <ion-content class="padding">

        <a class="button button-positive button-full" ng-click="openModal()">Add Summary</a>
        <div class="item item-divider">Summary Of Initial Assessment / Problem / Actions / Plan</div>
        <div class="list" ng-repeat="summ_initial in summary_initial">
            <div class="list card">
                <div class="item item-divider">Summary #{{$index + 1}}</div>
                <div class="row item">
                    <div class="col col-33 positive">Date</div>
                    <div class="col col-67">{{summ_initial.date}}</div>
                </div>
                <div class="row item">
                    <div class="col col-33 positive">Time</div>
                    <div class="col col-67">{{summ_initial.time}}</div>
                </div>
                <div class="item item-divider">Client of initial on admission</div>
                <div class="row item">
                    <div class="col col-33 positive">Client</div>
                    <div class="col col-67">
                        <p ng-repeat="(key, data) in summ_initial.client_of_initial">{{key}}</p>
                    </div>
                </div>
                <div class="row item">
                    <div class="row item">
                        <div class="col col-33 positive">Remarks</div>
                        <div class="col col-67">{{summ_initial.what_for}}</div>
                    </div>
                </div>
                <div class="item item-divider">Code & Category</div>
                <div class="row item">
                    <div class="col col-33 positive">Code & Category</div>
                    <div class="col col-67">{{summ_initial.code_category}}</div>
                </div>
                <div class="item item-divider">Assessment/Problem</div>
                <div class="row item">
                    <div class="col col-33 positive">Assessment/Problem</div>
                    <div class="col col-67">{{summ_initial.assessment_problem}}</div>
                </div>
                <div class="row item">
                    <div class="col col-33 positive">Team Progress Note</div>
                    <div class="col col-67">{{summ_initial.team_progress_note}}</div>
                </div>
            </div>
        </div>

        <div class="list" ng-repeat="summ_initial in continue_visit.summary_initials">
            <div class="list card">
                <div class="item item-divider">Summary #{{$index + 1 + summary_initial.length}}</div>
                <div class="row item">
                    <div class="col col-33 positive">Date</div>
                    <div class="col col-67">{{summ_initial.date}}</div>
                </div>
                <div class="row item">
                    <div class="col col-33 positive">Time</div>
                    <div class="col col-67">{{summ_initial.time}}</div>
                </div>
                <div class="item item-divider">Client of initial on admission</div>
                <div class="row item">
                    <div class="col col-33 positive">Client</div>
                    <div class="col col-67">
                        <p ng-repeat="(key, data) in summ_initial.client_of_initial">{{key}}</p>
                    </div>
                </div>
                <div class="row item">
                    <div class="row item">
                        <div class="col col-33 positive">Remarks</div>
                        <div class="col col-67">{{summ_initial.what_for}}</div>
                    </div>
                </div>
                <div class="item item-divider">Code & Category</div>
                <div class="row item">
                    <div class="col col-33 positive">Code & Category</div>
                    <div class="col col-67">{{summ_initial.code_category}}</div>
                </div>
                <div class="item item-divider">Assessment/Problem</div>
                <div class="row item">
                    <div class="col col-33 positive">Assessment/Problem</div>
                    <div class="col col-67">{{summ_initial.assessment_problem}}</div>
                </div>
                <div class="row item">
                    <div class="col col-33 positive">Team Progress Note</div>
                    <div class="col col-67">{{summ_initial.team_progress_note}}</div>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="list">
                <a class="button button-positive button-full" ng-click="saveAndNext()">Save and Next</a>
            </div>
        </div>
    </ion-content>

    <!--     <div class="bar bar-footer tabs bar-positive">
        <a class="tab-item" ng-click="saveAndNext()">Save &amp; Close</a>
    </div>
 -->
</ion-view>