<ion-view view-title="Continue Visit">
  <ion-content class="padding" ng-class="$parent.setting.eol?'is-disabled':''">
    <div class="list card">
      <div class="item item-divider">Introduction</div>
      <div class="item item-body">
        <div>
            <p>The Continue Visit will start with :</p>
                <a class="button button-full button-positive" href="#/tab/{{$parent.patientID}}/p01">
                    Multidisciplinary PT20 point
                </a>
        </div>
      </div>
    </div>
        <div class="item item-divider">Multidisciplinary PT20 point check List</div>
        <ion-list ng-init="data.f01 = true;" class="capital">
        <ion-checkbox ng-model="data.p01" class="checkbox-balanced" checked="true" disabled="true">p1 – neurological</ion-checkbox>
        <ion-checkbox ng-model="data.p02" class="checkbox-balanced" ng-disabled="true" ng-checked="true">p2 – emotional</ion-checkbox>
        <ion-checkbox ng-model="data.p03" class="checkbox-balanced" ng-disabled="true">p3 – spiritual</ion-checkbox>
        <ion-checkbox ng-model="data.f04" class="checkbox-balanced" ng-disabled="true">p4 - comfort</ion-checkbox>
        <ion-checkbox ng-model="data.f05" class="checkbox-balanced" ng-disabled="true">p5 - sleeping</ion-checkbox>
        <ion-checkbox ng-model="data.f06" class="checkbox-balanced" ng-disabled="true">p6 - breathing</ion-checkbox>
        <ion-checkbox ng-model="data.f07" class="checkbox-balanced" ng-disabled="true">p7 - temperature</ion-checkbox>
        <ion-checkbox ng-model="data.f08" class="checkbox-balanced" ng-disabled="true">p8 - circulation</ion-checkbox>
        <ion-checkbox ng-model="data.f09" class="checkbox-balanced" ng-disabled="true">p9 - oral (mouth)</ion-checkbox>
        <ion-checkbox ng-model="data.f10" class="checkbox-balanced" ng-disabled="true">p10 - nutrition</ion-checkbox>
        <ion-checkbox ng-model="data.f11" class="checkbox-balanced" ng-disabled="true">p11 - elimination bowel</ion-checkbox>
        <ion-checkbox ng-model="data.f12" class="checkbox-balanced" ng-disabled>p12 - elimination bladder</ion-checkbox>
        <ion-checkbox ng-model="data.f13" class="checkbox-balanced" ng-disabled>p13 - wound</ion-checkbox>
        <ion-checkbox ng-model="data.f14" class="checkbox-balanced" ng-disabled>p14 - activities for daily living and sexuality</ion-checkbox>
        <ion-checkbox ng-model="data.f15" class="checkbox-balanced" ng-disabled>p15 - end of life issue</ion-checkbox>
        <ion-checkbox ng-model="data.f16" class="checkbox-balanced" ng-disabled>p16 - client support issues</ion-checkbox>
        <ion-checkbox ng-model="data.f17" class="checkbox-balanced" ng-disabled>p17 - mobilization and activity</ion-checkbox>
        <ion-checkbox ng-model="data.f18" class="checkbox-balanced" ng-disabled>p18 - palliative massage therapty (PMT)</ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
