<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-nav-bar class="bar-balanced">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Dashboard Tab -->
<!--     <ion-tab title="Home" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/{{patientID}}/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
 -->
    <ion-tab title="Home" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/{{patientID}}/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Gallery" icon-off="ion-ios-photos-outline" icon-on="ion-ios-photos" href="#/tab/{{patientID}}/gallery">
        <ion-nav-view name="tab-gallery"></ion-nav-view>
    </ion-tab>

    <ion-tab title="First Visit" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/{{patientID}}/firsttime" badge="$parent.setting.eol?'X':''">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
        <ion-nav-view name="tab-firsttime"></ion-nav-view>
    </ion-tab>
<!--     <ion-tab title="Tab Continuous Visit" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/{{patientID}}/continuous" badge="$parent.setting.eol?'X':''">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
        <ion-nav-view name="tab-continuous"></ion-nav-view>
    </ion-tab>
 -->
    <ion-tab title="Continous Visit" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/{{patientID}}/continous" badge="$parent.setting.eol?'X':''">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
        <ion-nav-view name="tab-continous"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Medication Chart" icon-off="ion-ios-flask-outline" icon-on="ion-ios-flask" href="#/tab/{{patientID}}/medication">
        <ion-nav-view name="tab-medication"></ion-nav-view>
    </ion-tab>
    <ion-tab title="EOL" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/{{patientID}}/eol">
        <ion-nav-view name="tab-eol"></ion-nav-view>
    </ion-tab>
    <ion-tab title="PMT" icon-off="ion-ios-body-outline" icon-on="ion-ios-body" href="#/tab/{{patientID}}/pmt">
        <ion-nav-view name="tab-pmt"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Loan Equipment" icon-off="ion-settings" icon-on="ion-settings" href="#/tab/{{patientID}}/equipment">
        <ion-nav-view name="tab-equipment"></ion-nav-view>
    </ion-tab>
    
</ion-tabs>
