<ion-view view-title="F-11 – General Examination">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">General Examination</div>
            <div class="item item-body">
                <div>
                    General Examination (cont.)<b>sector F11</b>
                </div>
            </div>
        </div>
		<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">PR/PV</span>
						<input type="text" placeholder="Patient Name">
				</label>
				
				
		</div>

<ion-list ng-init="data.f01 = true;" class="capital">
				<ion-checkbox ng-model="data.f07" disabled="true">C|BP</ion-checkbox>
				<ion-checkbox ng-model="data.f08" disabled="true">mmHg|Pluse</ion-checkbox>
				<ion-checkbox ng-model="data.f09" disabled="true">|Bpm</ion-checkbox>
				<ion-checkbox ng-model="data.f10" disabled="true">|RR</ion-checkbox>
				<ion-checkbox ng-model="data.f11" disabled="true">/min</ion-checkbox>
				</ion-list>

<label class="item item-input item-stacked-label">
				<span class="input-label">Remarks</span>
						<input type="text" placeholder="(sp02, RBS, etc)">
				</label>				

<div>
				<a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/f07_1">Save and Next</a>
			</div>

	</ion-content>
</ion-view>
