<ion-view view-title="F-10 – General Examination">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">General Examination</div>
            <div class="item item-body">
                <div>
                    General Examination <b>sector F10</b>
                </div>
            </div>
        </div>
		
 		<div class="row">
  <div class="col"><span class="input-label">Ref No</span></div>
  <div class="col"><span class="input-label">Name of Form/Reports</span></div>
  <div class="col"><span class="input-label">Description</span></div>
  <div class="col"><span class="input-label">Required to change/ amend/ addtional/ Process</span></div>
  <div class="col"><span class="input-label">Not inculded in proposal</span></div>
</div>

<div class="row">
  <div class="col"><span class="input-label">F-90 MOBILE</span></div>
  <div class="col"><span class="input-label">General Examination</span></div>
  <div class="col"><span class="input-label">General Condition</span></div>
  <div class="col">

		<label class="item item-input item-select">
		  <div class="input-label">
						Choose
					</div>
						<select>
							<option selected>Good</option>
							<option>Satisfactory</option>
							<option>Fair</option>
							<option>Poor</option>
						</select>
				</label>
  
</div>
  <div class="col"><span class="input-label"></span></div>
</div>

<div class="row">
  <div class="col col-10 col-offset-10"></div>
  <div class="col col-10 col-offset-10"></div>
  <div class="col"><span class="input-label">Hydration</span></div>
  <div class="col">
  
		<label class="item item-input item-select">
		<div class="input-label">
						Choose
					</div>
						<select>
							<option selected>Good</option>
							<option>Mild dehydration</option>
							<option>Modorate</option>
							<option>Savere</option>
						</select>
				</label>
  
</div>
  <div class="col"><span class="input-label"></span></div>
</div>


<div class="row">
  <div class="col col-10 col-offset-10"></div>
  <div class="col col-10 col-offset-10"></div>
  <div class="col"><span class="input-label">Skin</span></div>
  <div class="col">
  
		<label class="item item-input item-select">
		<div class="input-label">
						Choose
					</div>
						<select>
							<option selected>Normal</option>
							<option>Dry Skin</option>
							<option>Briuse</option>
							<option>Redness</option>
							<option>Rash</option>
							<option>Excoration</option>
							<option>Jaundice</option>
							<option>Peterchiae</option>
						</select>
				</label>
  
</div>
  <div class="col"><span class="input-label"></span></div>
</div>

<div class="row">
  <div class="col col-10 col-offset-10"></div>
  <div class="col col-10 col-offset-10"></div>
  <div class="col"><span class="input-label">Mouth</span></div>
  <div class="col">

		<label class="item item-input item-stacked-label">
						<input type="text" placeholder="Text">
				</label>
  
</div>
  <div class="col"><span class="input-label"></span></div>
</div>

<div class="row">
  <div class="col col-10 col-offset-10"></div>
  <div class="col col-10 col-offset-10"></div>
  <div class="col"><span class="input-label">Cardiovascular System</span></div>
  <div class="col">
  <label class="item item-input item-select">
					<div class="input-label">
						Pallor
					</div>
						<select>
							<option>Yes</option>
							<option selected>No</option>
						</select>
						</label>
	<label class="item item-input item-select">
					<div class="input-label">
						Cyanosis
					</div>
						<select>
							<option>Yes</option>
							<option selected>No</option>
						</select>
						</label>
	
	<label class="item item-input item-select">
					<div class="input-label">
						Clubbing
					</div>
						<select>
							<option>Yes</option>
							<option selected>No</option>
						</select>
						</label>
  
</div>
  <div class="col"><span class="input-label"></span></div>
</div>

<div class="row">
  <div class="col col-10 col-offset-10"></div>
  <div class="col col-10 col-offset-10"></div>
  <div class="col"><span class="input-label">Cachexia</span></div>
  <div class="col">

		<label class="item item-input item-select">
					<div class="input-label">
						Choose
					</div>
						<select>
							<option>Yes</option>
							<option selected>No</option>
						</select>
						</label>
  
</div>
  <div class="col"><span class="input-label"></span></div>
</div>

<div class="row">
  <div class="col col-10 col-offset-10"></div>
  <div class="col col-10 col-offset-10"></div>
  <div class="col"><span class="input-label">PR</span></div>
  <div class="col">

		<label class="item item-input item-stacked-label">
						<input type="text" placeholder="Text">
				</label>
  
</div>
  <div class="col"><span class="input-label"></span></div>
</div>

<div class="row">
  <div class="col col-10 col-offset-10"></div>
  <div class="col col-10 col-offset-10"></div>
  <div class="col"><span class="input-label">PV</span></div>
  <div class="col">

		<label class="item item-input item-stacked-label">
						<input type="text" placeholder="Text">
				</label>
  
</div>
  <div class="col"><span class="input-label"></span></div>
</div>

<div class="row">
  <div class="col col-10 col-offset-10"></div>
  <div class="col col-10 col-offset-10"></div>
  <div class="col"><span class="input-label">Vital signs</span></div>
  <div class="col">

		<label class="item item-input item-stacked-label">
						<input type="text" placeholder="Text">
				</label>
  
</div>
  <div class="col"><span class="input-label"></span></div>
</div>
<div class="row">
  <div class="col col-10 col-offset-10"></div>
  <div class="col col-10 col-offset-10"></div>
  <div class="col"><span class="input-label">Temperature</span></div>
  <div class="col">
<ion-list ng-init="data.f01 = true;" class="capital">
				<ion-checkbox ng-model="data.f07" disabled="true">C|BP</ion-checkbox>
				<ion-checkbox ng-model="data.f08" disabled="true">mmHg|Pluse</ion-checkbox>
				<ion-checkbox ng-model="data.f09" disabled="true">|Bpm</ion-checkbox>
				<ion-checkbox ng-model="data.f10" disabled="true">|RR</ion-checkbox>
				<ion-checkbox ng-model="data.f11" disabled="true">/min</ion-checkbox>
				</ion-list>
</div>
  <div class="col"><span class="input-label"></span></div>
</div>

<div class="row">
  <div class="col col-10 col-offset-10"></div>
  <div class="col col-10 col-offset-10"></div>
  <div class="col"><span class="input-label">Remarks</span></div>
  <div class="col">

		<label class="item item-input item-stacked-label">
						<input type="text" placeholder="(sp02, RBS, etc)">
				</label>
  
</div>
  <div class="col"><span class="input-label"></span></div>
</div>
<div>
				<a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/f12">Save and Next</a>
			</div>

	</ion-content>
</ion-view>
