<ion-view view-title="Complementary Therapy for Palliative Massage Referral Form">
    <ion-content class="padding">
       
       <div class="item item-divider">
           Reason For The Referral 
          </div>
         
               
          <ion-item>
            <div class="item item-divider">Physical</div>
              <ion-checkbox name="si4">Pain</ion-checkbox>
              <ion-checkbox name="si4">Nausea / Vomiting</ion-checkbox>
              <ion-checkbox name="si4">Circulation</ion-checkbox>
              <ion-checkbox name="si4">Edema</ion-checkbox>
                  <div class="item item-divider">Comments</div>
                <label class="item item-input item-stacked-label">
                    <textarea rows="4"></textarea>
                </label>
                  </div>
          </ion-item>


          <ion-item>
           <div class="item item-divider">Physical</div>
              <ion-checkbox name="si4">Pain</ion-checkbox>
              <ion-checkbox name="si4">Insomnia</ion-checkbox>
              <ion-checkbox name="si4">Depresion</ion-checkbox>
              <ion-checkbox name="si4">Fatigue</ion-checkbox>
               <ion-checkbox name="si4">Mood disorder</ion-checkbox>
                <ion-checkbox name="si4">Anxiety</ion-checkbox>
                 <ion-checkbox name="si4">Stress</ion-checkbox>
                  <div class="item item-divider">Comments</div>
                <label class="item item-input item-stacked-label">
                    <textarea rows="4"></textarea>
                </label>
                </div>
          </ion-item>
           
        
          <ion-item>
           <div class="item item-divider">Social</div>
              <ion-checkbox name="si4">Companion (Loneliness)</ion-checkbox>
              <ion-checkbox name="si4">Carer Fatigue</ion-checkbox>
                  <div class="item item-divider">Comments</div>
                <label class="item item-input item-stacked-label">
                    <textarea rows="4"></textarea>
                </label>
                </div>
          </ion-item>

          <ion-item>
           <div class="item item-divider">Spiritual</div>
              <ion-checkbox name="si4">Assistance with Spiritual Desolation</ion-checkbox>
              <label class="item item-input item-stacked-label">
                      <span class="input-label">Religion :</span>
                      <input type="text">
              </label>
                  <div class="item item-divider">Comments</div>
                <label class="item item-input item-stacked-label">
                    <textarea rows="4"></textarea>
                </label>
                </div>
          </ion-item>

           <ion-item>
           <div class="item item-divider">Bereavement Massage</div>
              <ion-checkbox name="si4">Unresolved Grief</ion-checkbox>
              <ion-checkbox name="si4">Support</ion-checkbox>
              <label class="item item-input item-stacked-label">
                      <span class="input-label">Relationship of recipient/carer:</span>
                      <input type="text">
              </label>
                  <div class="item item-divider">Comments</div>
                <label class="item item-input item-stacked-label">
                    <textarea rows="4"></textarea>
                </label>
                </div>
          </ion-item>

          <ion-item>
           <div class="item item-divider">Remarks (Special Instruction / Precautions)</div>
                <label class="item item-input item-stacked-label">
                    <textarea rows="4"></textarea>
                </label>
          </ion-item>

          <ion-item>
           <div class="item item-divider">Referred by</div>
                <label class="item item-input item-stacked-label">
                    <input type="text">
                </label>
               <label class="item item-input item-stacked-label">
                <span class="input-label">Date</span>
                    <input type="date" placeholder="Date">
              </label>
          </ion-item>

          <ion-item>
           <div class="item item-divider">Received by</div>
                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="Received by">
                </label>
               <label class="item item-input item-stacked-label">
                <span class="input-label">Date</span>
                    <input type="date" placeholder="Date">
              </label>
          </ion-item>

          <ion-item>
           <div class="item item-divider">Initial Assessment & Plan (sign & date at end of note)</div>
                <label class="item item-input item-stacked-label">
                    <textarea rows="4" ></textarea>
                </label>
          </ion-item>


                  <a class="button button-positive button-full" ng-click="p01next()">Save and Close</a>
        </ion-content>
      
    </ion-view>
