<ion-view view-title="Take Photo">
    <ion-nav-buttons side="right">
      <button class="button" ng-click="save()">Save</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row">
            <button class="button button-large button-block button-calm" ng-click="getPhoto()"><i class="icon ion-camera"></i> Capture Consent of Admission Release &amp; Indemity Form</button>
        </div>
        <div class="row padding" ng-show="lastPhoto">
            <img ng-src="{{lastPhoto}}" style="max-width: 100%">
        </div>
    </div>
</ion-content>
</ion-view>
