<ion-view view-title="Photographic/media consent">
    <ion-content>
        <div class="row">
            <button class="button button-large button-block button-calm" ng-click="getPhoto()"><i class="icon ion-camera"></i> Capture Consent of Admission Release &amp; Indemity Form</button>
        </div>
        <div class="row padding" ng-show="lastPhoto">
            <img ng-src="{{lastPhoto}}" style="max-width:100%;max-height:auto">
        </div>
    </ion-content>
    <div class="bar bar-footer tabs bar-positive">
      <a class="tab-item" ng-click="save()">Save &amp; Next</a>
    </div>
</ion-view>
