<ion-view view-title="Initial Assessment">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Initial Assessment</div>

        </div>

		<div class="list card" ng-init="initial_assessment.patient_id=$parent.patientID">
			<div class="item item-divider">Perak palliative care society initial assessment form</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Date</span>
						<input type="date" placeholder="Date" ng-model="initial_assessment.date">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Location of Assessment</span>
						<input type="text" placeholder="Location of Assessment" ng-model="initial_assessment.location">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">How do you like to be addresses</span>
						<input type="text" placeholder="How do you like to be addresses" ng-model="initial_assessment.address">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Referring Doctor</span></br>
					 <input type="text" ng-model="patient.DOCTOR_NAME">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Other Consultants involved</span>
						<input type="text" placeholder="Other Consultants involved" ng-model="initial_assessment.other_consultants">
				</label>
				<label class="item item-input item-select">
					<div class="input-label">
						Patient aware of Diagnosis
					</div>
						<select ng-model="initial_assessment.patient_aware_diagnosis">
							<option selected value="yes">Yes</option>
							<option value="no">No</option>
						</select>
						</label>
				<label class="item item-input item-select">
					<div class="input-label">
						Family aware of Diagnosis
					</div>
						<select ng-model="initial_assessment.family_aware_diagnosis">
							<option>Yes</option>
							<option selected>No</option>
						</select>
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Patient aware of Prognosis
					</div>
						<select ng-model="initial_assessment.patient_aware_prognosis">
							<option>Yes</option>
							<option selected>No</option>
						</select>
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Family aware of Prognosis
					</div>
						<select ng-model="initial_assessment.family_aware_prognosis">
							<option>Yes</option>
							<option selected>No</option>
						</select>
				</label>
				</div>
		<div class="list card">
			<div class="item item-divider">History of current illness</div>
				<label class="item item-input item-stacked-label">
					<textarea placeholder="(Surgery, Radiotherapy, Chemotherapy)" rows="4"></textarea>
				</label>
		</div>
		<div class="list card">
			<div class="item item-divider">Initial reason for referral</div>
				<ion-list ng-init="data.f01 = true;" class="capital">
					<ion-checkbox ng-model="initial_assessment.initial_reason.home_visit">Home visit</ion-checkbox>
					<ion-checkbox ng-model="initial_assessment.initial_reason.palliative_support">Palliative support</ion-checkbox>
					<ion-checkbox ng-model="initial_assessment.initial_reason.equipment_rental">Equipment rental</ion-checkbox>
					<ion-checkbox ng-model="initial_assessment.initial_reason.dressing">Dressing</ion-checkbox>
					<label class="item item-input item-stacked-label">
					<span class="input-label">Others Remark:</span>
						<input type="text" placeholder="Others Remark" ng-model="initial_assessment.initial_reason.others">
				</label>
		</div>
				</ion-list>
		</div>
		<div class="list card">
			<div class="item item-divider">Past medical history</div>
				<ion-list ng-init="data.f01 = true;" class="capital" ng-model="initial_assessment.past_medical_history">
					<ion-checkbox ng-model="initial_assessment.past_medical_history.smoking">Smoking</ion-checkbox>
					<ion-checkbox ng-model="initial_assessment.past_medical_history.alcohol">Alcohol</ion-checkbox>
					<ion-checkbox ng-model="initial_assessment.past_medical_history.ami_hd">AMI/HD</ion-checkbox>
					<ion-checkbox ng-model="initial_assessment.past_medical_history.diabetes">Diabetes</ion-checkbox>
				    <ion-checkbox ng-model="initial_assessment.past_medical_history.ptb">PTB</ion-checkbox>
                    <ion-checkbox ng-model="initial_assessment.past_medical_history.copd">COPD</ion-checkbox>
					<ion-checkbox ng-model="initial_assessment.past_medical_history.asthma">Asthma</ion-checkbox>
					<ion-checkbox ng-model="initial_assessment.past_medical_history.renal_failure">Renal failure</ion-checkbox>
					<ion-checkbox ng-model="initial_assessment.past_medical_history.hypertension">Hypertension</ion-checkbox>
					<ion-checkbox ng-model="initial_assessment.past_medical_history.gastric">Gastric Problems</ion-checkbox>
				</ion-list>
			</div>
		</div>
		<div class="list card">
			<div class="item item-divider">Remarks</div>
				<label class="item item-input item-stacked-label">
						<input type="text" placeholder="Remarks" ng-model="initial_assessment.remarks">
				</label>
		</div>
        <br/></br/>
	</ion-content>
    <div class="bar bar-footer tabs bar-positive">
      <a class="tab-item" ng-click="saveAndNext()">Save &amp; Next</a>
    </div>
</ion-view>
