<ion-view view-title="Medical Assessment">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Medical Assessment</div>
        </div>
        <div class="list">
            <div class="list card">
                <div class="item item-divider">Physical Symptoms (Patient's complaints)</div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Pain</span>
<input type="text" placeholder="state site, nature (eg. Nociceptive/neuropathic/bony/incident)" ng-model="medical_assessment.physical_symptoms.pain">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Pain Score
                    </div>
                    <select ng-model="medical_assessment.physical_symptoms.pain_score">
                        <option selected></option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </label>

            </div>
            <img src="{{img_default}}" ng-click="editImage()" style="max-width: 100%" ng-src="{{medical_assessment.tmp_hand1?medical_assessment.tmp_hand1:medical_assessment.body_diagram}}"/>
            <div class="row">
                <div class="col">
                    <ion-list ng-init="medical_assessment.patient_id=$parent.patientID">
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.mouth" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Mouth</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.vision" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Vision</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.hearing" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Hearing</span>
                            </label>
                        </ion-checkbox>

                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.difficulty_swallow" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Difficulty swallowing</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.breathlessness" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Breathlessness</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.cough" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Cough</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.sputum" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Sputum</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.heamoptysis" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Haemoptysis</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.nausea" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Nausea</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.vomitting" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Vomiting</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.numbness" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Numbness</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.abdormalabdomen" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Abnormal abdomen</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.weakness" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Weakness</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.paralegia" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Paraplegia</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.rashes" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Rashes</span>
                            </label>
                        </ion-checkbox>
                    </ion-list>
                </div>
                <div class="col">
                    <ion-list ng-init="medical_assessment.patient_id=$parent.patientID">
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.anorexia" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Anorexia</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.distenedabdomen" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Distended abdomen</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.constipation" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Constipation</span>
                            </label>
                        </ion-checkbox>


                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.diarrhoe" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Diarrhoe</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.faecal_incontinence" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Faecal incontinence</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.pr_bleeding" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">PR bleeding</span>
                            </label>
                        </ion-checkbox>


                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.discharge" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Discharge</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.urinary_symtoms" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Urinary symptoms</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.wounds" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Wounds</span>

                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.pressure_sores" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Pressure sores</span>
                            </label>
                        </ion-checkbox>


                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.itch" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Itch</span>
                            </label>
                        </ion-checkbox>


                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.swelling_lymphedema" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Swelling/Lymphedema</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.fits_twitching" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Fits/Twitching</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.sleep_disturbance" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Sleep disturbance</span>
                            </label>
                        </ion-checkbox>
                        <ion-checkbox ng-model="medical_assessment.physical_symptoms.others" value="true">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Others</span>
                            </label>
                        </ion-checkbox>

                    </ion-list>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Others symptoms</span>
                        <input type="text" placeholder="(Describe)" ng-model="medical_assessment.others_symptoms">
                    </label>
                </div>
            </div>
        </div>
        <br/></br/>
    </ion-content>
    <div class="bar bar-footer tabs bar-positive">
      <a class="tab-item" ng-click="saveAndNext()">Save &amp; Next</a>
    </div>
</ion-view>
