<ion-view view-title="F-08 – Medical Assessment">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Medical Assessment</div>
            <div class="item item-body">
                <div>
                    Medical Assessment detail <b>sector F08</b>
                </div>
            </div>
        </div>
        <div class="list">

<!---------------------------------------- Checkbox )(INITIAL REASON FOR REFERRAL) ---------------------------------------->
<span class="input-label">Physical Symptoms (Patient's complaints)</span>
	<img src="img/f08.png" >
<div class="row">
  <div class="col">
  <ion-list ng-init="data.f01 = true;" class="capital">
				<ion-checkbox ng-model="data.f01" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Mouth</span>
							<input type="text" placeholder="Mouth">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f02" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Vision</span>
							<input type="text" placeholder="Vision">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f03" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Hearing</span>
							<input type="text" placeholder="Hearing">
					</label>
				</ion-checkbox>
				
				
				<ion-checkbox ng-model="data.f04" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Difficulty swallowing</span>
							<input type="text" placeholder="Difficulty swallowing">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f05" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Breathlessness</span>
							<input type="text" placeholder="Breathlessness">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f06" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Cough</span>
							<input type="text" placeholder="Cough">
					</label>
				</ion-checkbox>
				
				
				<ion-checkbox ng-model="data.f07" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Sputum</span>
							<input type="text" placeholder="Sputum">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f08" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Haemoptysis</span>
							<input type="text" placeholder="Haemoptysis">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f09" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Nausea</span>
							<input type="text" placeholder="Nausea">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f10" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Vomiting</span>
							<input type="text" placeholder="Vomiting">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f11" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Numbness</span>
							<input type="text" placeholder="Numbness">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f12" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Abnormal abdomen</span>
							<input type="text" placeholder="Abnormal abdomen">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f13" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Weakness</span>
							<input type="text" placeholder="Weakness">
					</label>
				</ion-checkbox>
				
				
				<ion-checkbox ng-model="data.f14" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Paraplegia</span>
							<input type="text" placeholder="Paraplegia">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f15" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Rashes</span>
							<input type="text" placeholder="Rashes">
					</label>
				</ion-checkbox>
				</ion-list>
  </div>
  <div class="col">
  <ion-list ng-init="data.f01 = true;" class="capital">
				<ion-checkbox ng-model="data.f16" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Anorexia</span>
							<input type="text" placeholder="Anorexia">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f17" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Distended abdomen</span>
							<input type="text" placeholder="Distended abdomen">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f18" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Constipation</span>
							<input type="text" placeholder="Constipation">
					</label>
				</ion-checkbox>
				
				
				<ion-checkbox ng-model="data.f19" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Diarrhoe</span>
							<input type="text" placeholder="Diarrhoe">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f20" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Faecal incontinence</span>
							<input type="text" placeholder="Faecal incontinence">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f21" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">PR bleeding</span>
							<input type="text" placeholder="PR bleeding">
					</label>
				</ion-checkbox>
				
				
				<ion-checkbox ng-model="data.f22" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Discharge</span>
							<input type="text" placeholder="Discharge">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f23" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Urinary symptoms</span>
							<input type="text" placeholder="Uninary symptoms">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f24" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Wounds</span>
							<input type="text" placeholder="Wounds">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f25" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Pressure sores</span>
							<input type="text" placeholder="Pressure sores">
					</label>
				</ion-checkbox>

				
				<ion-checkbox ng-model="data.f26" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Itch</span>
							<input type="text" placeholder="Itch">
					</label>
				</ion-checkbox>
				
				
				<ion-checkbox ng-model="data.f27" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Swelling/Lymphedema</span>
							<input type="text" placeholder="Swelling/Lymphedema">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f28" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Fits/Twitching</span>
							<input type="text" placeholder="Fits/Twitching">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f29" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Sleep disturbance</span>
							<input type="text" placeholder="Sleep disturbance">
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f30" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Others</span>
							<input type="text" placeholder="Others">
					</label>
				</ion-checkbox>

				</ion-list>
  </div>
 
  </div>
  <div class="row">
	<div class="col col-100">
	<label class="item item-input item-stacked-label">
					<span class="input-label">Others symptoms</span>
						<input type="text" placeholder="(Describe)">
				</label>
	</div>
	</div>

			
				<a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/f09">Save and Next</a>
			</div>

	</ion-content>
</ion-view>
