<ion-view view-title="Medical Assessment">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Medical Assessment</div>
            <div class="item item-body">
                <div>
                    Medical Assessment detail <b>sector F08</b>
                </div>
            </div>
        </div>
        <div class="list">

<span class="input-label">Physical Symptoms (Patient's complaints)</span>
	<img src="img/f08.png" >
<div class="row">
	<div class="col">
		<ion-list ng-init="data.f01 = true;" class="capital">
			<ion-checkbox ng-model="data.f01" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Mouth</span>
				</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f02" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Vision</span>
				</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f03" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Hearing</span>
				</label>
			</ion-checkbox>
				
			<ion-checkbox ng-model="data.f04" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Difficulty swallowing</span>
				</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f05" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Breathlessness</span>
				</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f06" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Cough</span>
				</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f07" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Sputum</span>
					</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f08" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Haemoptysis</span>
				</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f09" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Nausea</span>
				</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f10" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Vomiting</span>
				</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f11" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Numbness</span>
				</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f12" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Abnormal abdomen</span>
				</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f13" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Weakness</span>
				</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f14" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Paraplegia</span>
				</label>
			</ion-checkbox>
			<ion-checkbox ng-model="data.f15" disabled="true">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Rashes</span>
				</label>
			</ion-checkbox>
			</ion-list>
	</div>
<div class="col">
  <ion-list ng-init="data.f01 = true;" class="capital">
				<ion-checkbox ng-model="data.f16" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Anorexia</span>
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f17" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Distended abdomen</span>
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f18" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Constipation</span>
					</label>
				</ion-checkbox>
				
				
				<ion-checkbox ng-model="data.f19" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Diarrhoe</span>
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f20" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Faecal incontinence</span>
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f21" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">PR bleeding</span>
					</label>
				</ion-checkbox>
				
				
				<ion-checkbox ng-model="data.f22" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Discharge</span>
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f23" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Urinary symptoms</span>
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f24" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Wounds</span>

					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f25" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Pressure sores</span>
					</label>
				</ion-checkbox>

				
				<ion-checkbox ng-model="data.f26" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Itch</span>
					</label>
				</ion-checkbox>
				
				
				<ion-checkbox ng-model="data.f27" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Swelling/Lymphedema</span>
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f28" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Fits/Twitching</span>
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f29" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Sleep disturbance</span>
					</label>
				</ion-checkbox>
				<ion-checkbox ng-model="data.f30" disabled="true">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Others</span>
					</label>
				</ion-checkbox>

				</ion-list>
 </div>
 
  </div>
  <div class="row">
	<div class="col col-100">
	<label class="item item-input item-stacked-label">
					<span class="input-label">Others symptoms</span>
						<input type="text" placeholder="(Describe)" ng-model="medical_assessment.physical_symptoms.others_symptoms">
				</label>
	</div>
	</div>

			
				<a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/f09">Save and Next</a>
			</div>

	</ion-content>
</ion-view>
