<ion-view view-title="Social Assessment">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Social Assessment</div>
            <img src="img/f09.png" ng-click="editImage()" style="max-width: 100%" ng-src="{{social_assessment.tmp_hand1?social_assessment.tmp_hand1:social_assessment.family_tree}}"/>
        </div>

        <div class="list card">
            <div class="item item-divider">Family Attitude</div>
            <ion-list class="capital">
                <ion-checkbox ng-model="social_assessment.family_attitude.supportive" >Supportive</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_attitude.rejection" >Rejection</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_attitude.empathic" >Empathic</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_attitude.Others" >Others</ion-checkbox>
            </ion-list>
        </div>

        <div class="list card">
            <div class="item item-divider">Family Response</div>
            <ion-list class="capital">
                <ion-checkbox ng-model="social_assessment.family_response.caring" >Caring</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.stressful" >Stressful</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.not_supportive" >Not Supportive</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.witholding_the_truth" >Witholding the truth</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.angry" >Angry</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.accepting" >Accepting</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.denying" >Denying</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.anxious" >Anxious</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.grieving" >Grieving</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.others" >Others</ion-checkbox>
            </ion-list>
        </div>

        <div class="list card">
            <div class="item item-divider">Availabilty of caregiver</div>
            <ion-list ng-init="social_assessment_assessment.patient_id=$parent.patientID">
                <ion-checkbox ng-model="social_assessment.avail_of_caregiver.day" >Day</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.avail_of_caregiver.night" >Night</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.avail_of_caregiver.all_day" >All day</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.avail_of_caregiver.no_carer_day" >No Carer</ion-checkbox>
            </ion-list>
        </div>
        <div class="list card">
            <div class="item item-divider">Religion of Patient</div>
            <ion-list ng-init="social_assessment_assessment.patient_id=$parent.patientID">
                <ion-checkbox ng-model="social_assessment.religion.Buddism">Buddism</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.religion.Christianity">Christianity</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.religion.Hinduism">Hinduism</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.religion.Islam">Islam</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.religion.Taiosm">Taiosm</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.religion.Others">Others</ion-checkbox>
            </ion-list>
        </div>

        <div class="list card">
            <div class="item item-divider">Home Assessment</div>
        </div>

        <div class="list card">
            <div class="item item-divider">Type of housing</div>
            <ion-list ng-init="social_assessment.patient_id=$parent.patientID">
                <ion-checkbox ng-model="social_assessment.type_of_housing.kampung">Kampung house</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.type_of_housing.flats">Flats</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.type_of_housing.shotlot">Shop lot</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.type_of_housing.single_storey">Single story</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.type_of_housing.multystorey">Multi Story</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.type_of_housing.split_level">Split Level</ion-checkbox>
            </ion-list>
        </div>
        <div class="list card">
            <div class="item item-divider">Home Enviroment</div>
            <ion-list ng-init="social_assessment.patient_id=$parent.patientID">
                <ion-checkbox ng-model="social_assessment.home_enviroment.Clean">Clean</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.home_enviroment.Cluttered">Cluttered</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.home_enviroment.Dirty">Dirty</ion-checkbox>
            </div>
            <div class="list card">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Electricity
                    </div>
                    <select>
                        <option selected>Yes</option>
                        <option>No</option>
                    </select>
                </label>

                <ion-list ng-init="social_assessment.patient_id=$parent.patientID">
                    <ion-checkbox ng-model="social_assessment.electricity.Municipal_water_supply">Municipal water supply</ion-checkbox>
                    <ion-checkbox ng-model="social_assessment.electricity.Other_water_source">Other water source</ion-checkbox>
                    <ion-checkbox ng-model="social_assessment.electricity.Dark">Dark</ion-checkbox>
                    <ion-checkbox ng-model="social_assessment.electricity.Poor_Ventilation">Poor Ventilation</ion-checkbox>
                </ion-list>

            </div>

            <div class="list card">
                <div class="item item-divider">Stairs</div>
            </div>

            <div class="list card">
                <div class="item item-divider">Stairs entering home</div>
                <div class="list">
                    <label class="item item-radio">
                        <input type="radio" name="group" ng-model="social_assessment.stairs_entering_home.yes">
                        <div class="item-content">
                            Yes
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group" ng-model="social_assessment.stairs_entering_home.no">
                        <div class="item-content">
                            No
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </div>

            <div class="list card">
                <div class="item item-divider">Stairs inside home</div>
                <div class="list">
                    <label class="item item-radio">
                        <input type="radio" name="group1" ng-model="social_assessment.stairs_inside_home.yes">
                        <div class="item-content">
                            Yes
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group1" ng-model="social_assessment.stairs_inside_home.no">
                        <div class="item-content">
                            No
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </div>

            <div class="list card">
                <div class="item item-divider">Split level</div>
                <div class="list">
                    <label class="item item-radio">
                        <input type="radio" name="group2" ng-model="social_assessment.split_level.yes">
                        <div class="item-content">
                            Yes
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group2" ng-model="social_assessment.split_level.no">
                        <div class="item-content">
                            No
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </div>

            <div class="list card">
                <div class="item item-divider">Client using</div>
                <div class="list">
                    <label class="item item-radio">
                        <input type="radio" name="group3" ng-model="social_assessment.client_using.yes">
                        <div class="item-content">
                            Yes
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="group3" ng-model="social_assessment.client_using.no">
                        <div class="item-content">
                            No
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </div>
            <div class="list card">
                <div class="item item-divider">Sanitary</div>
                <ion-list ng-init="social_assessment.patient_id=$parent.patientID">
                    <ion-checkbox ng-model="social_assessment.sanitary.Squat_toilet">Squat toilet</ion-checkbox>
                    <ion-checkbox ng-model="social_assessment.sanitary.Sit">Sit</ion-checkbox>
                    <ion-checkbox ng-model="social_assessment.sanitary.Attached_toilet">Attached toilet</ion-checkbox>
                    <ion-checkbox ng-model="social_assessment.sanitary.Commode">Commode</ion-checkbox>
                    <ion-checkbox ng-model="social_assessment.sanitary.Out_House">Out House</ion-checkbox>
                </ion-list>

            </div>
            <div class="list card">
                <div class="item item-divider">Remarks</div>
                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="Remarks" ng-model="social_assessment.remarks">
                </label>
            </div>
        <br/></br/>
        </ion-content>
        <div class="bar bar-footer tabs bar-positive">
          <a class="tab-item" ng-click="saveAndNext()">Save &amp; Next</a>
        </div>
    </ion-view>
