<ion-view view-title="Social Assessment">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Social Assessment</div>
            <img src="img/f09.png" ng-click="editImage()" style="max-width: 100%" ng-src="{{social_assessment.tmp_hand1?social_assessment.tmp_hand1:social_assessment.socio_diagram}}"/>
        </div>

        <div class="list card">
            <div class="item item-divider">Family Attitude</div>
            <ion-list ng-init="social_assessment.f01 = true;" class="capital">
                <ion-checkbox ng-model="social_assessment.family_attitude.Supportive" >Supportive</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_attitude.Rejection" >Rejection</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_attitude.Empathic" >Empathic</ion-checkbox>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Others Remark:</span>
                        <input type="text" placeholder="Others Remark" ng-model="social_assessment.family_attitude.Others">
                </label>
            </ion-list>
        </div>

        <div class="list card">
            <div class="item item-divider">Family Response</div>
            <ion-list ng-init="social_assessment.f01 = true;" class="capital">
                <ion-checkbox ng-model="social_assessment.family_response.Caring" >Caring</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.Stressful" >Stressful</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.Not_supportive" >Not Supportive</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.Witholding_the_truth" >Witholding the truth</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.Angry" >Angry</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.Accepting" >Accepting</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.Denying" >Denying</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.Anxious" >Anxious</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.family_response.Grieving" >Grieving</ion-checkbox>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Others Remark:</span>
                        <input type="text" placeholder="Others Remark" ng-model="social_assessment.family_response.others">
                </label>
            </ion-list>
        </div>

        <div class="list card">
            <div class="item item-divider">Availabilty of caregiver</div>
            <ion-list ng-init="social_assessment_assessment.patient_id=$parent.patientID">
                <ion-checkbox ng-model="social_assessment.avail_of_caregiver.Day" >Day</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.avail_of_caregiver.Night" >Night</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.avail_of_caregiver.All_day" >All day</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.avail_of_caregiver.No_carer_day" >No Carer</ion-checkbox>
            </ion-list>
        </div>
        <div class="list card">
            <div class="item item-divider">Religion of Patient</div>
            <ion-list ng-init="social_assessment_assessment.patient_id=$parent.patientID">
                <ion-checkbox ng-model="social_assessment.religion.Buddism">Buddism</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.religion.Christianity">Christianity</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.religion.Hinduism">Hinduism</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.religion.Islam">Islam</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.religion.Taiosm">Taiosm</ion-checkbox>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Others Remark:</span>
                        <input type="text" placeholder="Others Remark" ng-model="social_assessment.religion.Others">
                </label>
            </ion-list>
        </div>

        <div class="list card">
            <div class="item item-divider">Home Assessment</div>
        </div>

        <div class="list card">
            <div class="item item-divider">Type of housing</div>
            <ion-list ng-init="social_assessment.patient_id=$parent.patientID">
                <ion-checkbox ng-model="social_assessment.type_of_housing.Kampung">Kampung house</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.type_of_housing.Flats">Flats</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.type_of_housing.Shotlot">Shop lot</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.type_of_housing.Single_storey">Single story</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.type_of_housing.Multystorey">Multi Story</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.type_of_housing.Split_level">Split Level</ion-checkbox>
            </ion-list>
        </div>
        <div class="list card">
            <div class="item item-divider">Home Enviroment</div>
            <ion-list ng-init="social_assessment.patient_id=$parent.patientID">
                <ion-checkbox ng-model="social_assessment.home_environment.Clean">Clean</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.home_environment.Cluttered">Cluttered</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.home_environment.Dirty">Dirty</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.home_environment.Electricty">Electricity</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.home_environment.No_Electricty">No Electricity</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.home_environment.Municipal_water_supply">Municipal water supply</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.home_environment.Other_water_source">Other water source</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.home_environment.Dark">Dark</ion-checkbox>
                <ion-checkbox ng-model="social_assessment.home_environment.Poor_Ventilation">Poor Ventilation</ion-checkbox>
            </div>
    

            <div class="list card">
                <div class="item item-divider">Stairs</div>
            </div>

            <div class="list card" ng-init="social_assessment.patient_id=$parent.patientID">
            <label class="item item-input item-select">
                <div class="input-label">
                    Stair Entering Home
                </div>
                <select ng-model="social_assessment.stairs_entering_home">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </label>
        </div>

             <div class="list card">
            <label class="item item-input item-select">
                <div class="input-label">
                    Stair Inside Home
                </div>
                <select ng-model="social_assessment.stairs_inside_home">
                    <option selected>Yes</option>
                    <option>No</option>
                </select>
            </label>
        </div>

           <div class="list card">
            <label class="item item-input item-select">
                <div class="input-label">
                    Split Level
                </div>
                <select ng-model="social_assessment.split_level">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </label>
        </div>

           <div class="list card">
            <label class="item item-input item-select">
                <div class="input-label">
                 Client Using
                </div>
                <select ng-model="social_assessment.client_using">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </label>
        </div>
            <div class="list card">
                <div class="item item-divider">Sanitary</div>
                <ion-list ng-init="social_assessment.patient_id=$parent.patientID">
                    <ion-checkbox ng-model="social_assessment.sanitary_facilities.Squat_toilet">Squat toilet</ion-checkbox>
                    <ion-checkbox ng-model="social_assessment.sanitary_facilities.Sit">Sit</ion-checkbox>
                    <ion-checkbox ng-model="social_assessment.sanitary_facilities.Attached_toilet">Attached toilet</ion-checkbox>
                    <ion-checkbox ng-model="social_assessment.sanitary_facilities.Commode">Commode</ion-checkbox>
                    <ion-checkbox ng-model="social_assessment.sanitary_facilities.Out_House">Out House</ion-checkbox>
                </ion-list>

            </div>
            <div class="list card">
                <div class="item item-divider">Remarks</div>
                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="Remarks" ng-model="social_assessment.remarks">
                </label>
            </div>
        <br/></br/>
        </ion-content>
        <div class="bar bar-footer tabs bar-positive">
          <a class="tab-item" ng-click="saveAndNext()">Save &amp; Next</a>
        </div>
    </ion-view>
