<ion-view view-title="General Examination">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">General Examination</div>
            <div class="item item-body">
                <div>
                    General Examination <b>sector F10</b>
                </div>
            </div>
        </div>
		
		<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">
						General condition
					</div>
						<select>
							<option selected>Good</option>
							<option>Satisfactory</option>
							<option>Fair</option>
							<option>Poor</option>
						</select>
						</label>
				
				<label class="item item-input item-stacked-label">
					<span class="input-label">Not included in proposal</span>
						<input type="text" placeholder="Not included in proposal">
				</label>
						
				<br>
				<label class="item item-input item-select">
					<div class="input-label">
						Hydration
					</div>
						<select>
							<option selected>Good</option>
							<option>Mild dehydration</option>
							<option>Modorate</option>
							<option>Savere</option>
						</select>
				</label>

				<label class="item item-input item-stacked-label">
				<span class="input-label">Not included in proposal</span>
						<input type="text" placeholder="Not included in proposal">
				</label>
				
				
				<br>
						<label class="item item-input item-select">
					<div class="input-label">
						Skin
					</div>
						<select>
							<option selected>Normal</option>
							<option>Dry skin</option>
							<option>Bruise</option>
							<option>Redness</option>
							
							<option>Rash</option>
							<option>Excoriation</option>
							<option>Jaundice</option>
							<option>Peterchiae</option>
						</select>
				</label>
				
				<label class="item item-input item-stacked-label">
				<span class="input-label">Not included in proposal</span>
						<input type="text" placeholder="Not included in proposal">
				</label>
				
				<br>
				
				<label class="item item-input item-stacked-label">
					<span class="input-label">Mouth</span>
						<input type="text" placeholder="Mouth">
				</label>
				<label class="item item-input item-stacked-label">
				<span class="input-label">Not included in proposal</span>
						<input type="text" placeholder="Not included in proposal">
				</label>
				
				<br>
				
				
				<span class="input-label">Cardiovascular System</span>
				
				<label class="item item-input item-select">
				
					<div class="input-label">
						Pallor  
					</div>
						<select>
							<option>Yes</option>
							<option selected>No</option>
						</select>
				</label>
				
				<label class="item item-input item-select">
					<div class="input-label">
						Cyanosis  
					</div>
						<select>
							<option>Yes</option>
							<option selected>No</option>
						</select>
				</label>
				
				<label class="item item-input item-select">
					<div class="input-label">
						Clubbing  
					</div>
						<select>
							<option>Yes</option>
							<option selected>No</option>
						</select>
				</label>
				
				<br>
				
				<label class="item item-input item-select">
				
					<div class="input-label">
						Cachexia  
					</div>
						<select>
							<option>Yes</option>
							<option selected>No</option>
						</select>
				</label>
				
				<br>
				
				<label class="item item-input item-stacked-label">
					<span class="input-label">PR</span>
						<input type="text" placeholder="PR">
				</label>
				
				<label class="item item-input item-stacked-label">
				<span class="input-label">Not included in proposal</span>
						<input type="text" placeholder="Not included in proposal">
				</label>
				
				<br>
				
				<label class="item item-input item-stacked-label">
					<span class="input-label">PV</span>
						<input type="text" placeholder="PV">
				</label>
				
				<label class="item item-input item-stacked-label">
				<span class="input-label">Not included in proposal</span>
						<input type="text" placeholder="Not included in proposal">
				</label>
				
				<br>
				
				<label class="item item-input item-stacked-label">
					<span class="input-label">Vital signs</span>
						<input type="text" placeholder="Vital signs">
				</label>
				
				<label class="item item-input item-stacked-label">
				<span class="input-label">Not included in proposal</span>
						<input type="text" placeholder="Not included in proposal">
				</label>
				
				<br>
				<span class="input-label">Temperature</span>
						<ion-list ng-init="data.f01 = true;" class="capital">
						<ion-checkbox ng-model="data.f07" disabled="true">C|BP</ion-checkbox>
						<ion-checkbox ng-model="data.f08" disabled="true">mmHg| Pulse</ion-checkbox>
						<ion-checkbox ng-model="data.f09" disabled="true">|Bpm</ion-checkbox>
						<ion-checkbox ng-model="data.f10" disabled="true">|RR </ion-checkbox>
						<ion-checkbox ng-model="data.f10" disabled="true">/min</ion-checkbox>
						</ion-list>
						
						<br>
						<span class="input-label">Remarks</span>
				<label class="item item-input item-stacked-label">
						<input type="text" placeholder="Remarks">
				</label>
				
				

		<label class="item item-input item-stacked-label">
						<input type="text" placeholder="(sp02, RBS, etc)">
				</label>
  
</div>
  <div class="col"><span class="input-label"></span></div>
</div>
<div>
				<a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/f11">Save and Next</a>
			</div>

	</ion-content>
