<ion-view view-title="General Examination (cont.)">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">General Examination (cont.)</div>
            <div class="item item-body">
                <div>
                    General Examination (cont.)<b>sector F11</b>
                </div>
            </div>
        </div>
		<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">PR/PV</span>
						<input type="text" placeholder="Patient Name" ng-model="general_examination_cont.pr_pv">
				</label>
				
				
		</div>

<ion-list ng-init="data.f01 = true;" class="capital" ng-model="general_examination_cont.capital">
				<ion-checkbox ng-model="data.f07" disabled="true">C|BP</ion-checkbox>
				<ion-checkbox ng-model="data.f08" disabled="true">mmHg|Pluse</ion-checkbox>
				<ion-checkbox ng-model="data.f09" disabled="true">|Bpm</ion-checkbox>
				<ion-checkbox ng-model="data.f10" disabled="true">|RR</ion-checkbox>
				<ion-checkbox ng-model="data.f11" disabled="true">/min</ion-checkbox>
				</ion-list>

<label class="item item-input item-stacked-label">
				<span class="input-label">Remarks</span>
						<input type="text" placeholder="(sp02, RBS, etc)" ng-model="general_examination_cont.remarks">
				</label>				

<div>
				<a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/f13">Save and Next</a>
			</div>

	</ion-content>
</ion-view>
