<ion-view view-title="Current Medication Chart">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Current Medication Chart</div>

        </div>
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Drug Allergy</span>
						<input type="text" placeholder="Drug Allergy" ng-model="curr_medication.drug_allergy">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Reaction</span>
						<input type="text" placeholder="Drug allergy reaction" ng-model="curr_medication.reaction_drug_allergy">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Other Allergy</span>
						<input type="text" placeholder="Other Allergy" ng-model="curr_medication.other_allergy">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Reaction</span>
						<input type="text" placeholder="Other allergy reaction" ng-model="curr_medication.reaction_other_allergy">
				</label>
            </div>

            <a class="button button-positive button-full" ng-click="openModal()">Add Medication</a>
            <h4 ng-show="curr_medication.medications.length">Medications</h4>
            <div class="list" ng-repeat="medication in curr_medication.medications">
                <div class="item item-divider">Medication #{{$index + 1}}</div>
                <div class="item item-button-right">
                  <div class="col col-50 positive">Name of Drugs/Medication</div>
                  <div class="col ">{{medication.medication_name}}</div>
                  <button class="button button-positive" ng-click="deleteItem($index)">
                     <i class="icon ion-ios-trash"></i>
                   </button>
                </div>
                <div class="row item">
                  <div class="col col-50 positive">Dose</div>
                  <div class="col ">{{medication.dose}}</div>
                </div>
                <div class="row item">
                  <div class="col col-50 positive">Route</div>
                  <div class="col ">{{medication.route}}</div>
                </div>
                <div class="row item">
                  <div class="col col-50 positive">Frequency</div>
                  <div class="col "><p ng-repeat="(key, data) in medication.frequency">{{key}}</p></div>
                </div>
                <div class="row item">
                  <div class="col col-50 positive">What for</div>
                  <div class="col ">{{medication.what_for}}</div>
                </div>
                <div class="row item">
                  <div class="col col-50 positive">Side Effects</div>
                  <div class="col ">{{medication.drug_side_effect}}</div>
                </div>
                <div class="row item">
                  <div class="col col-50 positive">Started by PPCS/Other</div>
                  <div class="col ">{{medication.started_by}}</div>
                </div>
                <div class="row item">
                  <div class="col col-50 positive">Start Date</div>
                  <div class="col ">{{medication.start_day}}</div>
                </div>
                <div class="row item">
                  <div class="col col-50 positive">End date</div>
                  <div class="col ">{{medication.end_date}}</div>
                </div>
			</div>
            <br/>
            <br/>
	</ion-content>
    <div class="bar bar-footer tabs bar-positive">
        <a class="tab-item" ng-click="saveAndNext()">Save &amp; Close</a>
    </div>
</ion-view>
