<ion-modal-view view-title="">
    <ion-header-bar class="bar-positive">
        <div class="buttons" ng-click="closeModal()">
            <button class="button button-clear">Cancel</button>
        </div>
        <h1 class="title">Add Medication Chart</h1>
        <div class="buttons" ng-click="saveModal()">
            <button class="button button-clear">Save</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding" ng-init="medication.initial=userid">
        <div class="list">

			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Name Medication</span>
						<input type="text" placeholder="Name Medication" ng-model="medication.medication_name">
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Dose</span>
						<input type="text" placeholder="Dose" ng-model="medication.dose">
				</label>

				<label class="item item-input item-select">
		  <div class="input-label">
						Route:
					</div>
						<select ng-model="medication.route">
							<option selected>Dermal</option>
							<option>IV</option>
							<option>IM</option>
							<option>NGT</option>
							<option>O</option>
							<option>PR</option>
							<option>S/C</option>
							<option>S/L</option>

						</select>
				</label>

				<span class="input-label">Frequency</span>
				<ion-list>
    				<ion-checkbox ng-model="medication.frequency.Hourly">4 Hourly</ion-checkbox>
    				<ion-checkbox ng-model="medication.frequency.Bd">Bd</ion-checkbox>
    				<ion-checkbox ng-model="medication.frequency.Eod">Eod</ion-checkbox>
    				<ion-checkbox ng-model="medication.frequency.Od">Od</ion-checkbox>
    				<ion-checkbox ng-model="medication.frequency.PRN">PRN</ion-checkbox>
    				<ion-checkbox ng-model="medication.frequency.Qid">Qid</ion-checkbox>
				</ion-list>

				<label class="item item-input item-stacked-label">
					<span class="input-label">What For</span>
						<input type="text" placeholder="What For" ng-model="medication.what_for">
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Side Effect Of The Drugs</span>
						<input type="text" placeholder="Side effect" ng-model="medication.drug_side_effect">
				</label>

				<label class="item item-input item-select">
		  <div class="input-label">
						Started By:
					</div>
						<select ng-model="medication.started_by">
							<option selected>PPCS</option>
							<option>Others</option>
						</select>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Start Day</span>
						<input type="date" placeholder="Start Day" ng-model="medication.start_day">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">End Date</span>
						<input type="date" placeholder="End Date" ng-model="medication.end_date">
				</label>
			</div>
	</ion-content>
</ion-modal-view>
