<ion-view view-title="F-10 – General Examination">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">General Examination</div>
            <div class="item item-body">
                <div>
                    General Examination <b>sector F10</b>
                </div>
            </div>
        </div>
        <div class="list">

			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Patient Name</span>
						<input type="text" placeholder="Patient Name">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">PPCS Reg. No</span>
						<input type="text" placeholder="PPCS Reg. No">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">General Condition:</span>			
				</label>

				<label class="item item-input item-select">
		  <div class="input-label">
						Cachexia:
					</div>
						<select>
							<option selected>Yes</option>
							<option>No</option>					
						</select>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Mouth:</span>			
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Hydration:</span>			
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Skin:</span>			
				</label>

				<label class="item item-input item-select">
		  <div class="input-label">
						Jaundice:
					</div>
						<select>
							<option selected>Yes</option>
							<option>No</option>					
						</select>
				</label>
				<label class="item item-input item-stacked-label">
					<img src="img/f10_1.png">
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Cardiovascular System:</span>			
				</label>

				<label class="item item-input item-select">
		  <div class="input-label">
						Pallor:
					</div>
						<select>
							<option selected>Yes</option>
							<option>No</option>					
						</select>
				</label>

				<label class="item item-input item-select">
		  <div class="input-label">
						Cyanosis:
					</div>
						<select>
							<option selected>Yes</option>
							<option>No</option>					
						</select>
				</label>

				<label class="item item-input item-select">
		  <div class="input-label">
						Clubbing:
					</div>
						<select>
							<option selected>Yes</option>
							<option>No</option>					
						</select>
				</label>

			<label class="item item-input item-stacked-label">
					<span class="input-label">Respiratory System:</span>
				</label>

				<label class="item item-input item-stacked-label">
					<img src="img/f10_2.png">
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Abdomen/GU System:</span>
				</label>
				<label class="item item-input item-stacked-label">
					<img src="img/f10_3.png">
				</label>






				
				
				

				<a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/f16">Save and Next</a>
			</div>

	</ion-content>
</ion-view>
