<ion-modal-view ng-init="gsc = { motor: 0, eye:0, verbal:0}">
    <ion-header-bar>
      <h1 class="title">Muscullateral</h1>
    </ion-header-bar>
    <ion-content>
      <ion-item>
          <div class="item item-divider">
            Reaction
          </div>
          <ion-radio name="eye" ng-model="gsc.eye" ng-value="4">B-Brisk</ion-radio>
          <ion-radio name="eye" ng-model="gsc.eye" ng-value="3">S-Sluggish</ion-radio>
          <ion-radio name="eye" ng-model="gsc.eye" ng-value="2">Ho Hippus</ion-radio>
          <ion-radio name="eye" ng-model="gsc.eye" ng-value="1">F-Fixed</ion-radio>
          <ion-radio name="eye" ng-model="gsc.eye" ng-value="1">C-Closed</ion-radio>

          <div class="item item-divider">
            Pupils
          </div>

          <label class="item item-input item-select">
      <div class="input-label">
            R:
          </div>
            <select>
              <option selected>0</option>
              <option>1</option>
               <option>2</option>
                <option>3</option>
                 <option>4</option>
                  <option>5</option>         
            </select>
        </label>
        <label class="item item-input item-select">
      <div class="input-label">
            L:
          </div>
            <select>
              <option selected>0</option>
              <option>1</option>
               <option>2</option>
                <option>3</option>
                 <option>4</option>
                  <option>5</option>         
            </select>
        </label>


          <div class="item item-divider">
            Grip
          </div>

          <label class="item item-input item-select">
      <div class="input-label">
            R:
          </div>
            <select>
              <option selected>0</option>
              <option>1</option>
               <option>2</option>
                <option>3</option>
                 <option>4</option>
                  <option>5</option>         
            </select>
        </label>
        <label class="item item-input item-select">
      <div class="input-label">
            L:
          </div>
            <select>
              <option selected>0</option>
              <option>1</option>
               <option>2</option>
                <option>3</option>
                 <option>4</option>
                  <option>5</option>         
            </select>
        </label>
        <div class="item item-divider">
            Arms
          </div>

          <label class="item item-input item-select">
      <div class="input-label">
            R:
          </div>
            <select>
              <option selected>0</option>
              <option>1</option>
               <option>2</option>
                <option>3</option>
                 <option>4</option>
                  <option>5</option>         
            </select>
        </label>
        <label class="item item-input item-select">
      <div class="input-label">
            L:
          </div>
            <select>
              <option selected>0</option>
              <option>1</option>
               <option>2</option>
                <option>3</option>
                 <option>4</option>
                  <option>5</option>         
            </select>
        </label>
        <div class="item item-divider">
            Legs
          </div>

          <label class="item item-input item-select">
      <div class="input-label">
            R:
          </div>
            <select>
              <option selected>0</option>
              <option>1</option>
               <option>2</option>
                <option>3</option>
                 <option>4</option>
                  <option>5</option>         
            </select>
        </label>
        <label class="item item-input item-select">
      <div class="input-label">
            L:
          </div>
            <select>
              <option selected>0</option>
              <option>1</option>
               <option>2</option>
                <option>3</option>
                 <option>4</option>
                  <option>5</option>         
            </select>
        </label>
        <button class="pull-right button button-positive">Next</button>
    </ion-footer-bar>
  </ion-modal-view>
