<ion-view view-title="Multidisciplinary Referral Form">
    <ion-content class="padding">
         
               <div class="item item-divider">
         Diagnosis
          </div>
          <ion-item>
              <input type="text" placeholder="Diagnosis">
          </ion-item>

            <div class="item item-divider">
    Reason for and why referral :
          </div>

          <ion-item>
            <div class="item item-divider">Dietician: (phone consults only)</div>
              <ion-checkbox>Nutrition Counseling</ion-checkbox>
              <ion-checkbox>Diabetic Teaching</ion-checkbox>
              <ion-checkbox>Other</ion-checkbox>
               <label class="item item-input item-stacked-label">
          <span class="input-label">Remarks :</span>
            <input type="text" >
        </label>
              </div>
          </ion-item>
           
        
          <ion-item>
            <div class="item item-divider">Occupational Therapy</div>
              <ion-checkbox>Home Safety</ion-checkbox>
              <ion-checkbox>ADL Teaching</ion-checkbox>
              <ion-checkbox>Carer Training</ion-checkbox>
              <ion-checkbox>Other</ion-checkbox>
               <label class="item item-input item-stacked-label">
          <span class="input-label">Remarks :</span>
            <input type="text" >
        </label>
              </div>
          </ion-item>

          <ion-item>
            <div class="item item-divider">Pysio Therapy</div>
              <ion-checkbox>Muscle Strengthening</ion-checkbox>
              <ion-checkbox>Transfers from bed / chair etc</ion-checkbox>
              <ion-checkbox>Carer Training</ion-checkbox>
              <ion-checkbox>Other</ion-checkbox>
               <label class="item item-input item-stacked-label">
          <span class="input-label">Remarks :</span>
            <input type="text" >
        </label>
              </div>
          </ion-item>

          <ion-item>
            <div class="item item-divider">Play Therapy (age less than 18)</div>
              <ion-checkbox>Games</ion-checkbox>
              <ion-checkbox>Art and Crafts</ion-checkbox>
              <ion-checkbox>Other</ion-checkbox>
               <label class="item item-input item-stacked-label">
          <span class="input-label">Remarks :</span>
            <input type="text" >
        </label>
              </div>
          </ion-item>

          <ion-item>
            <div class="item item-divider">Play Therapy (age less than 18)</div>
              <ion-checkbox>Games</ion-checkbox>
              <ion-checkbox>Art and Crafts</ion-checkbox>
              <ion-checkbox>Other</ion-checkbox>
               <label class="item item-input item-stacked-label">
          <span class="input-label">Remarks :</span>
            <input type="text" >
        </label>
              </div>
          </ion-item>

          <ion-item>
            <div class="item item-divider">Play Therapy (age less than 18)</div>
              <ion-checkbox>Games</ion-checkbox>
              <ion-checkbox>Art and Crafts</ion-checkbox>
              <ion-checkbox>Other</ion-checkbox>
               <label class="item item-input item-stacked-label">
          <span class="input-label">Remarks :</span>
            <input type="text" >
        </label>
              </div>
          </ion-item>

          <ion-item>
            <div class="item item-divider">Social Services</div>
              <ion-checkbox>Finances</ion-checkbox>
              <ion-checkbox>Referral to Social Welfare</ion-checkbox>
              <ion-checkbox>Food Bank</ion-checkbox>
              <ion-checkbox>Other</ion-checkbox>
               <label class="item item-input item-stacked-label">
          <span class="input-label">Remarks :</span>
            <input type="text" >
        </label>
              </div>
          </ion-item>

          <ion-item>
            <div class="item item-divider">Social Work</div>
              <ion-checkbox>Client Counselling</ion-checkbox>
              <ion-checkbox>Family Counselling</ion-checkbox>
          </ion-item>

          <ion-item>
            <div class="item item-divider">Volunteer</div>
              <ion-checkbox>Client Companion</ion-checkbox>
              <ion-checkbox>Driving</ion-checkbox>
              <ion-checkbox>Errands</ion-checkbox>
              <ion-checkbox>Respite Care</ion-checkbox>
              <ion-checkbox>Nursing / Aide</ion-checkbox>     
          </ion-item>

          <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Others/Remarks</span>
            <input type="text">
        </label>
          </ion-item>

           <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Referred By</span>
            <input type="text">
        </label>
          </ion-item>

           <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Tel</span>
            <input type="text">
        </label>
          </ion-item>

           <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Date</span>
            <input type="date" placeholder="Date">
        </label>
          </ion-item>

          <ion-item>
            <div class="item item-divider">Best Time For Initial Joint ( visit for introduction)</div>
              <ion-checkbox>Morning</ion-checkbox>
              <ion-checkbox>Afternoon</ion-checkbox>
          </ion-item>

          <ion-item>
            <div class="item item-divider">How MDT Member Informed</div>
              <ion-checkbox>By Hand</ion-checkbox>
              <ion-checkbox>Phone</ion-checkbox>
               <ion-checkbox>Fax</ion-checkbox>
                <ion-checkbox>E-mail</ion-checkbox>
          </ion-item>

           <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Received by</span>
            <input type="text">
        </label>
          </ion-item>

          <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Date</span>
            <input type="date" placeholder="Date">
        </label>
          </ion-item>

            <ion-item>
           <div class="item item-divider">Initial Assessment & Plan (sign & date at end of note)</div>
                <label class="item item-input item-stacked-label">
                    <textarea rows="4" ></textarea>
                </label>
          </ion-item>


                  <a class="button button-positive button-full" ng-click="p01next()">Save and Close</a>
        </ion-content>
      
    </ion-view>
