<ion-view view-title="P2 - Neurological Status">
    <ion-content class="padding">
        <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true"><b>P1 – NEUROLOGICAL</b></ion-checkbox>
        <ion-item>
            <div class="item item-divider">
              Select the nearest neorological condition of patient
            </div>
            <ion-checkbox class="positive" ng-model="checkbox.p1" name="p1" value="A">A - Alert</ion-checkbox>
            <ion-checkbox name="p1" ng-model="checkbox.p2" value="O">O - Oriented</ion-checkbox>
            <ion-checkbox name="p1" class="assertive" ng-model="checkbox.p3" value="GSC">GSC - Glasgow Coma Scale</ion-checkbox>
            <ion-checkbox name="p1" ng-model="checkbox.p4" value="S">S - Seizures</ion-checkbox>
        </ion-item>
        <a class="button button-positive button-full" ng-click="p01next()">Save and Next</a>
    </ion-content>
</ion-view>
