<ion-view view-title="P2 - Neurological Status">
    <ion-content class="padding">
        <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true">P1 – NEUROLOGICAL</ion-checkbox>
        <ion-item>
            <div class="item item-divider">
              Select the nearest neorological condition of patient
            </div>
            <ion-radio class="positive" ng-model="radio.p1" name="p1" value="A">A - Alert</ion-radio>
            <ion-radio name="p1" ng-model="radio.p1" value="O">O - Oriented</ion-radio>
            <ion-radio name="p1" class="assertive" ng-model="radio.p1" value="GSC">GSC - Glasgow Coma Scale</ion-radio>
            <ion-radio name="p1" ng-model="radio.p1" value="S">S - Seizures</ion-radio>
        </ion-item>
        <a class="button button-positive button-full" ng-click="p01next()">Save and Next</a>
    </ion-content>
</ion-view>
