<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true"><b>P2 – Emotional</b></ion-checkbox>
          <div class="item item-divider">
            Select the nearest emotional condition of patient
          </div>
          <ion-item>
              <ion-checkbox name="p3" class="positive" ng-model="checkbox.p1" ng-value="C">C-Calm</ion-checkbox>
              <ion-checkbox name="p3" class="" ng-model="checkbox.p2" ng-value="H">H-Happy</ion-checkbox>
              <ion-checkbox name="p3" ng-model="checkbox.p3" ng-value="F">F-Fearful</ion-checkbox>
              <ion-checkbox name="p3" class="assertive" ng-model="checkbox.p4" ng-value="Dp">Dp-Depressed</ion-checkbox>
              <!-- -Widrawn
              - Quite -->
              <ion-checkbox name="p3" ng-model="checkbox.p5" ng-value="Sr">Sr-Suicide Risk</ion-checkbox>
              <ion-checkbox name="p3" ng-model="checkbox.p6" ng-value="An">An-Anxious</ion-checkbox>
              <ion-checkbox name="p3" ng-model="checkbox.p7" ng-value="S">S-Sad</ion-checkbox>
              <ion-checkbox name="p3" ng-model="checkbox.p8" ng-value="Ag">Ag-Angry</ion-checkbox>
              <ion-checkbox name="p3" ng-model="checkbox.p9" ng-value="Dn">Dn-Denial</ion-checkbox>
          </ion-item>
          <a class="button button-positive button-full" href="#/formcontinuous/{{$parent.patientID}}/p003">Save and Next</a>

    </ion-content>
</ion-view>
