<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true"><b>P3 – Spiritual</b></ion-checkbox>
          <div class="item item-divider">
            Select the nearest spiritual condition of patient
          </div>
          <ion-item>
              <ion-checkbox class="positive" name="p3">SpC- Spiritual Consolation</ion-checkbox>
              <ion-checkbox name="p3">SpD- Spiritual Desolation</ion-checkbox>
              <ion-checkbox name="p3">RLG- Visited by religious leader/group</ion-checkbox>
              <ion-checkbox name="p3">PM- Prays/Meditates</ion-checkbox>
              <ion-checkbox name="p3">R- Reads Religious/Spiritual books</ion-checkbox>
              <ion-checkbox name="p3">RS- Display religious symbols</ion-checkbox>
          </ion-item>
          <a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/p04">Save and Next</a>

    </ion-content>
</ion-view>
