<b><ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true"><b>P4 – Comfort</b></ion-checkbox>
          <div class="item item-divider">
            Select the nearest comfort condition of patient
          </div>
          <ion-item>
              <ion-checkbox class="positive" name="p4">NP-No Pain</ion-checkbox>
              <ion-checkbox name="p4">p- Pain</ion-checkbox>
              <ion-checkbox name="p4">R- At rest</ion-checkbox>
              <ion-checkbox name="p4">M- On movement</ion-checkbox>
          </ion-item>
          <a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/p05">Save and Next</a>

    </ion-content>
</ion-view>
