<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true"><b>P6 – Breathing</b></ion-checkbox>
          <div class="item item-divider">
            Select the nearest breathing condition of patient
          </div>
          <ion-item>
              <ion-checkbox class="positive" name="p6">N-Normal</ion-checkbox>
              <ion-checkbox name="p6">Ox-Oxygen</ion-checkbox>
              <ion-checkbox name="p6">T-Tracheostomy</ion-checkbox>
              <ion-checkbox name="p6">D-Dyspnoea</ion-checkbox>
              <ion-checkbox name="p6">O-Others</ion-checkbox>
          </ion-item>
          <a class="button button-positive button-full" href="#/formcontinuous/{{$parent.patientID}}/p007">Save and Next</a>

    </ion-content>
</ion-view>
