<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true"><b>P7 – Circulation</b></ion-checkbox>
          <div class="item item-divider">
            Select the nearest circulation condition of patient
          </div>
          <ion-item>
              <ion-checkbox class="positive" name="p7">N-Normal</ion-checkbox>
              <ion-checkbox name="p7">P-Pallor</ion-checkbox>
              <ion-checkbox name="p7">D-Dusky</ion-checkbox>
              <ion-checkbox name="p7">C-Cyanosis</ion-checkbox>
              <ion-checkbox name="p7">E-Edema</ion-checkbox>
          </ion-item>
          <a class="button button-positive button-full" href="#/formcontinuous/{{$parent.patientID}}/p008">Save and Next</a>

    </ion-content>
</ion-view>
