<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true"><b>P8 – Temperature</b></ion-checkbox>
          <div class="item item-divider">
            Select the nearest temperature condition of patient
          </div>
          <ion-item>
              <ion-radio class="positive" name="p8">A-Afebrile</ion-radio>
              <ion-radio name="p8">F-Febrile</ion-radio>
              <ion-radio name="p8">CC-Cold compress</ion-radio>
              <ion-radio name="p8">TS-Tepid Sponging</ion-radio>
              <ion-radio name="p8">C-Cool to touch</ion-radio>
          </ion-item>
          <a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/p09">Save and Next</a>

    </ion-content>
</ion-view>
