<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true">P9 – Temperature</ion-checkbox>
          <div class="item item-divider">
            Select the nearest temperature condition of patient
          </div>
          <ion-item>
              <ion-radio class="positive" name="p5">A-Afebrile</ion-radio>
              <ion-radio name="p7">F-Febrille</ion-radio>
              <ion-radio name="p7">CC-Cold compress</ion-radio>
              <ion-radio name="p7">TS-Tepid sponging</ion-radio>
              <ion-radio name="p7">C-coo to touch</ion-radio>
          </ion-item>
          <a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/p010">Save and Next</a>

    </ion-content>
</ion-view>
