<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true"><b>P9 – Oral (Mouth)</b></ion-checkbox>
          <div class="item item-divider">
            Select the nearest oral (mouth) condition of patient
          </div>
          <ion-item>
              <ion-checkbox class="positive" name="p9">G-Good oral hygiene</ion-checkbox>
              <ion-checkbox name="p9">P-Particles</ion-checkbox>
              <ion-checkbox name="p9">D-Dirty</ion-checkbox>
              <ion-checkbox name="p9">T-Thrush</ion-checkbox>
              <ion-checkbox name="p9">CT-Coated tongue</ion-checkbox>
              <ion-checkbox name="p9">C-Caries or poor fitting dentures</ion-checkbox>
              <ion-checkbox name="p9">U-Ulcers</ion-checkbox>
              <ion-checkbox name="p9">D-Dry mouth</ion-checkbox>
           
          </ion-item>
          <a class="button button-positive button-full" href="#/formcontinuous/{{$parent.patientID}}/p010">Save and Next</a>

    </ion-content>
</ion-view>
