<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true">P11 – Nutrition</ion-checkbox>
          <div class="item item-divider">
            Select the nearest nutrition condition of patient
          </div>
          <ion-item>
              <ion-radio class="positive" name="p11">T-Taken Well</ion-radio>
              <ion-radio name="p11">F-Taken Fairly</ion-radio>
              <ion-radio name="p11">NGT/PEG</ion-radio>
              <ion-radio name="p11">NBM/(NPO)</ion-radio>
              <ion-radio name="p11">SW-sips of water</ion-radio>
              <ion-radio name="p11">SP-Supplement</ion-radio>
             
           
          </ion-item>
          <a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/p12">Save and Next</a>

    </ion-content>
</ion-view>
