<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true"><b>P12 – Elimination Bladder</b></ion-checkbox>
          <div class="item item-divider">
            Select the nearest elimination bladder condition of patient
          </div>
          <ion-item>
               <ion-checkbox class="positive" name="p12">S-Self</ion-checkbox>
              <ion-checkbox class="item item-checkbox" name="p12" ng-click="collapsed1=!collapsed1">A-Assisted</ion-checkbox>
              <div ng-show="collapsed1">
                <ion-checkbox class="balanced" name="c12">Frequency</ion-checkbox>
                <ion-checkbox class="balanced" name="c12">Incontinence</ion-checkbox>
                <ion-checkbox class="balanced" name="c12">Retention</ion-checkbox>
                <ion-checkbox class="balanced" name="c12">Noctural</ion-checkbox>
                <ion-checkbox class="balanced" name="c12">Urgency</ion-checkbox>
              </div>
              <ion-checkbox name="p12">P-Diapers</ion-checkbox>
              <ion-checkbox name="p12">C-Catheter/MC</ion-checkbox>
              <ion-checkbox name="p12">B-Bedpan/urinal</ion-checkbox>
              <ion-checkbox name="p12">T-Toilet</ion-checkbox>
              <ion-checkbox name="p12">C-Clear</ion-checkbox>
              <ion-checkbox name="p12">CLD-Cloudy</ion-checkbox>
              <ion-checkbox name="p12">CN-Concentrated</ion-checkbox>
              
             
           
          </ion-item>
          <a class="button button-positive button-full" href="#/formcontinuous/{{$parent.patientID}}/p013">Save and Next</a>

    </ion-content>
</ion-view>
