<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true">P13 – Wound</ion-checkbox>
          <div class="item item-divider">
            Select the nearest wound condition of patient
          </div>
          <ion-item>
              <ion-radio class="positive" name="p13">NW- No wound</ion-radio>
              <ion-radio name="p13" class="assertive" ng-model="radio.p13" value="GSC">PO-Post op wound</ion-radio>
              <ion-radio name="p13">P-Pressure</ion-radio>
              <ion-radio name="p13">F-Fumigating</ion-radio>
              <ion-radio name="p13">S1-Redness</ion-radio>
              <ion-radio name="p13">S2-Partial thickness</ion-radio>
              <ion-radio name="p13">S3-Full thickness</ion-radio>
              <ion-radio name="p13">S4-Cavity</ion-radio>
              <ion-radio name="p13">S5-Unstageble</ion-radio>
              <ion-radio name="p13">CL-Clean</ion-radio>
              <ion-radio name="p13">G-Granulating</ion-radio>
              <ion-radio name="p13">O-Odor</ion-radio>
              <ion-radio name="p13">E-Exudations</ion-radio>
              <ion-radio name="p13">B-Bleeding</ion-radio>
              <ion-radio name="p13">Sl-Sloughs</ion-radio>
              
             
           
          </ion-item>
          <a class="button button-positive button-full" ng-click="p13next()">Save and Next</a>

    </ion-content>
</ion-view>
