<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true">P13 – Elimination Bladder</ion-checkbox>
          <div class="item item-divider">
            Select the nearest elimination bladder condition of patient
          </div>
          <ion-item>
              <ion-radio class="positive" name="p5">A-Assisted</ion-radio>
              <ion-radio name="p7">P-Diapers</ion-radio>
              <ion-radio name="p7">C-Catheter/MC</ion-radio>
              <ion-radio name="p7">B-Bedpan/urinal</ion-radio>
              <ion-radio name="p7">T-Toilet</ion-radio>
              <ion-radio name="p7">C-Clear</ion-radio>
              <ion-radio name="p7">CLD-Cloudy</ion-radio>
              <ion-radio name="p7">CN-Concentrated</ion-radio>
              
             
           
          </ion-item>
          <a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/p14">Save and Next</a>

    </ion-content>
</ion-view>
