<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true"><b>P14 – Activities For Daily Living And Sexuality</b></ion-checkbox>
          <div class="item item-divider">
            Select the nearest activies for daily living and sexuality condition of patient
          </div>
          <ion-item>
              <ion-checkbox class="positive" name="p14">S-Self</ion-checkbox>
              <ion-checkbox name="p14">A-Assisted</ion-checkbox>
              <ion-checkbox name="p14">D-Dependent</ion-checkbox>
              <ion-checkbox name="p14">PP-Personal Preference (indicate in special instruction)</ion-checkbox>
              <ion-checkbox name="p14">BI-Body image disturbance</ion-checkbox>
              <ion-checkbox name="p14">SE-Low self esteem</ion-checkbox>
   
          </ion-item>
          <a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/p15">Save and Next</a>

    </ion-content>
</ion-view>
