<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true"><b>P15 – End Of Life Issue</b></ion-checkbox>
          <div class="item item-divider">
            Select the nearest end of life issue condition of patient
          </div>
          <ion-item>
              <ion-radio name="p15">Y-Advance care planning discussed</ion-radio>
              <ion-radio class="positive" name="p15">N-Advanced care planning NOT discussed</ion-radio>
              <ion-radio name="p15">EOLCP-Active EOLCP</ion-radio>
             
          </ion-item>
          <a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/p16">Save and Next</a>

    </ion-content>
</ion-view>
