<ion-view view-title="Continue Visit">
    <ion-content class="padding">
          <ion-checkbox ng-model="data.f01" class="checkbox-balanced" checked="true" disabled="true"><b>P17 – Mobilization And Activity</b></ion-checkbox>
          <div class="item item-divider">
            Select the nearest mobilization and activity condition of patient
          </div>
          <ion-item>
              
              <ion-checkbox name="p17">A-Ambulatory</ion-checkbox>
              <ion-checkbox name="p17" class="assertive" ng-model="checkbox.p17" value="GSC">WE-Weakness GSC</ion-checkbox>
              <ion-checkbox name="p17">WA-Walking Aid</ion-checkbox>
              <ion-checkbox name="p17">S-Sit in chair</ion-checkbox>
              <ion-checkbox name="p17">WC-Wheelchair</ion-checkbox>
              <ion-checkbox name="p17">B-Bed</ion-checkbox>
              <ion-checkbox name="p17">PL-Patient location in home</ion-checkbox>
              
             
          </ion-item>
          <a class="button button-positive button-full" ng-click="p17next()">Save and Next</a>

    </ion-content>
</ion-view>
