<ion-view view-title="PMT Diagram">
    <ion-content class="padding">

        <div class="item item-divider">
          Name of Patient
          </div>
          <ion-item>
              <input type="text" placeholder="Name of Patients">
          </ion-item>
         
               <div class="item item-divider">
         Diagnosis
          </div>
          <ion-item>
              <input type="text" placeholder="Diagnosis">
          </ion-item>

          <div class="item item-divider">
          Where
          </div>

          <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Primary</span>
            <input type="text">
        </label>
          </ion-item>
                    <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Metastasis</span>
            <input type="text">
        </label>
          </ion-item>


          <div class="item item-divider">
          Risks
          </div>

          <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Bone</span>
            <input type="text">
        </label>
          </ion-item>
                    <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Lymphedema</span>
            <input type="text">
        </label>
          </ion-item>
           <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">DVT</span>
            <input type="text">
        </label>
          </ion-item>
           <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Others</span>
            <input type="text">
        </label>
          </ion-item>

           <div class="item item-divider">
          Risks
          </div>

          <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Organ Function Effects</span>
            <textarea rows="4" ></textarea>
        </label>
          </ion-item>

           <div class="item item-divider">
         Tissue Instability
          </div>

          <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Tissue Instability</span>
            <textarea rows="4" ></textarea>
        </label>
          </ion-item>


          <div class="item item-divider">
          Lubricant
          </div>

          <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Massage Oil / Cream</span>
            <input type="text">
        </label>
          </ion-item>
                    <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Aqueous Cream</span>
            <input type="text">
        </label>
          </ion-item>
           <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Others : Emu Oil / Cream</span>
            <input type="text">
        </label>
          </ion-item>
           <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Others</span>
            <input type="text">
        </label>
          </ion-item>
                   

                   <div class="item item-divider">
         Effects
          </div>

          <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Effects</span>
            <textarea rows="4" ></textarea>
        </label>
          </ion-item>


          <div class="item item-divider">
          Massage Adjustments
          </div>

          <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Pressure</span>
            <textarea rows="4" ></textarea>
        </label>
          </ion-item>
                    <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Joint Movement</span>
           <textarea rows="4" ></textarea>
        </label>
          </ion-item>
           <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Session Length</span>
            <textarea rows="4" ></textarea>
        </label>
          </ion-item>
           <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Session Intent</span>
            <textarea rows="4" ></textarea>
        </label>
          </ion-item>
           <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Position</span>
            <textarea rows="4" ></textarea>
        </label>
          </ion-item>
          <ion-item>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Others</span>
            <textarea rows="4" ></textarea>
        </label>
          </ion-item>


          


                  <a class="button button-positive button-full" ng-click="p01next()">Save and Close</a>
        </ion-content>
      
    </ion-view>
