<ion-view view-title="F-10 – General Examination">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">SP-01 Special Mention</div>
            <div class="item item-body">
                <div>
                    Special Mention
                </div>
            </div>
        </div>
		
		<div class="list">
				
				<label class="item item-input item-stacked-label">
					<span class="input-label">Special Mention (appointment admission)</span>
						<input type="text" placeholder="Special Mention">
				</label>
						
				<br>

				<label class="item item-input item-stacked-label">
				<span class="input-label">Date/Initial</span>
						<input type="date" placeholder="Date/Initial">
				</label>
				
				<br>
					
				
				
  
</div>
  <div class="col"><span class="input-label"></span></div>
</div>
<div>
				<a class="button button-positive button-full" href="#/tab/{{$parent.patientID}}/continuos">Save and Next</a>
			</div>

	</ion-content>
