<ion-view view-title="F-10 – General Examination">
    <ion-content class="padding">
		<div class="list card" ng-init="continuous_sp01.patient_id=$parent.patientID">
			<div class="item item-divider">SP-01 Special Mention</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Special Mention (appointment admission)</span>
						<input type="text" placeholder="Special Mention" ng-model="continuous_sp01.special_mention">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Date</span>
						<input type="date" placeholder="Date" ng-model="continuous_sp01.date_initial">
				</label>
        </div>
        <div class="list">
            <a class="button button-positive button-full" ng-click="SP01Next()">Save and Next</a>
        </div>

    </ion-content>
</ion-view>
