<ion-view view-title="Summary Of Initial Assessment">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Summary Of Initial Assessment / Problem / Actions / Plan</div>

        </div>

        <div class="list card">
             <label class="item item-input item-select">
                    <div class="input-label">
                        Client Classified on Admission as
                    </div>
                        <select ng-model="initial_assessment.patient_aware_diagnosis">
                            <option value="S0">S0</option>
                            <option value="S1">S1</option>
                            <option value="S1">S2</option>
                            <option value="S1">U1</option>
                            <option value="S1">U2</option>
                        </select>
                        </label>

            <label class="item item-input item-select">
                    <div class="input-label">
                       Assess need for referral
                    </div>
                        <select ng-model="initial_assessment.patient_aware_diagnosis">
                            <option value="S0">Pallative Massage Therapy</option>
                            <option value="S1">Play Therapy</option>
                            <option value="S1">Physical Therapy</option>
                            <option value="S1">Occupational Therapy</option>
                            <option value="S1">Dental as appropriated</option>
                        </select>
                        </label>

                        <div class="list card">
            <div class="item item-divider">Summary</div>
                <label class="item item-input item-stacked-label">
                    <textarea rows="4"></textarea>
                </label>
        </div>
    </ion-content>
    <a class="button button-positive button-full">Save and Close</a>
</ion-view>
